In [3]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 50

### Houston Astros

In [2]:
hou_20 = pd.read_csv('../data/Scrape_2/astros/HOU_20.csv')
hou2017 = pd.read_csv('../data/Scrape_2/astros/HOU_2017-2018_data.csv')
hou2015 = pd.read_csv('../data/Scrape_2/astros/HOU_2015-201_data.csv')
hou2019 = pd.read_csv('../data/Scrape_2/astros/HOU_data.csv')

In [6]:
col_order_string = ['game#', 'day', 'date', 'team', 'home_away', 'opp', 'win_loss', 'r', 
        'ra', 'innings', 'record', 'divison_rank', 'games_back', 'winning_pitcher', 
        'losing_pitcher', 'game_duration', 'day_night', 'attendance', 'streak', 'saving_pitcher', 
        'bat_hits', 'bat_rbi', 'bat_walks', 'bat_strike_outs', 'hou_plate_app', 'bat_batting_avg', 
        'bat_obp', 'bat_slg', 'bat_ops', 'pitch_opp_hits', 'pitch_walks', 'pitch_strike_outs', 
        'pitch_opp_hr', 'pitch_era', 'pitch_batters_faced', 'pitch_total_pitches', 'pitch_combined_strikes', 
        'pitch_strikes_contacted', 'pitch_strikes_swinging', 'pitch_strikes_looking', 'pitch_wpa']

In [9]:
def year_check(club):
    year_list = [1995, 1996, 1997, 1998, 1999,
             2000, 2001, 2002, 2003, 2004,
             2005, 2006, 2007, 2008, 2009,
             2010, 2011, 2012, 2013, 2014,
             2015, 2016, 2017, 2018, 2019]
    missing_years = []
    club['date'] = pd.to_datetime(club['date'])
    for n in year_list:
        if club[club['date'].dt.year == n].shape[0] == 0:
            missing_years.append(n)
        else:
            pass
    first_season = min(club['date'])
    last_season = max(club['date'])
    return missing_years, first_season, last_season

In [4]:
hou_20 = hou_20[['game#', 'day', 'date', 'team', 'home_away', 'opp', 'win_loss', 'r', 
        'ra', 'innings', 'record', 'divison_rank', 'games_back', 'winning_pitcher', 
        'losing_pitcher', 'game_duration', 'day_night', 'attendance', 'streak', 'saving_pitcher', 
        'bat_hits', 'bat_rbi', 'bat_walks', 'bat_strike_outs', 'hou_plate_app', 'bat_batting_avg', 
        'bat_obp', 'bat_slg', 'bat_ops', 'pitch_opp_hits', 'pitch_walks', 'pitch_strike_outs', 
        'pitch_opp_hr', 'pitch_era', 'pitch_batters_faced', 'pitch_total_pitches', 'pitch_combined_strikes', 
        'pitch_strikes_contacted', 'pitch_strikes_swinging', 'pitch_strikes_looking', 'pitch_wpa']]

In [10]:
year_check(hou_20)

([2008, 2015, 2016, 2017, 2018, 2019],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2014-09-28 00:00:00'))

In [5]:
hou_20

,game#,day,date,team,home_away,opp,win_loss,r,ra,innings,record,divison_rank,games_back,winning_pitcher,losing_pitcher,game_duration,day_night,attendance,streak,saving_pitcher,bat_hits,bat_rbi,bat_walks,bat_strike_outs,hou_plate_app,bat_batting_avg,bat_obp,bat_slg,bat_ops,pitch_opp_hits,pitch_walks,pitch_strike_outs,pitch_opp_hr,pitch_era,pitch_batters_faced,pitch_total_pitches,pitch_combined_strikes,pitch_strikes_contacted,pitch_strikes_swinging,pitch_strikes_looking,pitch_wpa
0,1,Wednesday,1995-04-26,HOU,@,SDP,W,10.0,2.0,NaN,1-0,1.0,Tied,Doug Drabek,Andy Benes,3:30,N,"41,961",+,NaN,12.0,9.0,8.0,8.0,48.0,0.300,0.417,0.550,0.967,8.0,2.0,8.0,0.0,1.00,38.0,147.0,97.0,55.0,15.0,23.0,0.270
1,2,Thursday,1995-04-27,HOU,@,SDP,L,1.0,13.0,NaN,1-1,2.0,1.0,Andy Ashby,Shane Reynolds,2:53,D,"7,468",-,NaN,5.0,1.0,4.0,11.0,35.0,0.161,0.257,0.290,0.547,21.0,1.0,8.0,1.0,9.00,47.0,148.0,94.0,58.0,20.0,14.0,-0.325
2,3,Friday,1995-04-28,HOU,NaN,COL,L,1.0,2.0,NaN,1-2,2.0,2.0,Curt Leskanic,Darryl Kile,2:47,N,"30,405",--,Bruce Ruffin,7.0,1.0,6.0,8.0,40.0,0.212,0.350,0.333,0.683,3.0,1.0,6.0,1.0,2.00,32.0,NaN,NaN,NaN,NaN,NaN,0.137
3,4,Saturday,1995-04-29,HOU,NaN,COL,L,1.0,2.0,NaN,1-3,2.0,3.0,Omar Olivares,Mike Hampton,2:54,N,"19,074",---,Bruce Ruffin,4.0,1.0,8.0,8.0,37.0,0.138,0.324,0.138,0.462,3.0,5.0,8.0,0.0,2.00,33.0,133.0,83.0,48.0,21.0,14.0,0.156
4,5,Sunday,1995-04-30,HOU,NaN,COL,W,3.0,1.0,NaN,2-3,2.0,2.0,Doug Brocail,Curt Leskanic,2:35,D,"14,455",+,John Hudek,5.0,3.0,3.0,5.0,31.0,0.185,0.290,0.222,0.513,4.0,2.0,12.0,1.0,1.00,33.0,115.0,78.0,42.0,23.0,13.0,0.367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3217,158,Tuesday,2014-09-23,HOU,@,TEX,L,1.0,2.0,NaN,69-89,4.0,28.0,Nick Martinez,Brett Oberholtzer,2:55,N,"29,794",--,Neal Cotts,7.0,1.0,1.0,7.0,34.0,0.219,0.235,0.281,0.517,12.0,3.0,5.0,1.0,2.25,38.0,142.0,81.0,51.0,7.0,23.0,0.045
3218,159,Wednesday,2014-09-24,HOU,@,TEX,L,1.0,5.0,NaN,69-90,4.0,29.0,Lisalverto Bonilla,Scott Feldman,3:06,N,"28,003",---,NaN,5.0,1.0,4.0,10.0,32.0,0.185,0.313,0.296,0.609,6.0,6.0,9.0,2.0,5.62,38.0,152.0,89.0,52.0,14.0,23.0,-0.033
3219,160,Friday,2014-09-26,HOU,@,NYM,W,3.0,1.0,NaN,70-90,4.0,28.0,Kevin Chapman,Carlos Torres,3:10,N,"27,729",+,Chad Qualls,7.0,2.0,2.0,9.0,35.0,0.219,0.286,0.281,0.567,5.0,3.0,10.0,1.0,1.00,35.0,148.0,94.0,47.0,14.0,33.0,0.360
3220,161,Saturday,2014-09-27,HOU,@,NYM,L-wo,1.0,2.0,NaN,70-91,4.0,28.0,Jenrry Mejia,Tony Sipp,2:59,N,"34,886",-,NaN,7.0,1.0,2.0,9.0,35.0,0.212,0.257,0.303,0.560,5.0,1.0,5.0,1.0,2.08,31.0,121.0,75.0,42.0,7.0,26.0,-0.263
3221,162,Sunday,2014-09-28,HOU,@,NYM,L,3.0,8.0,NaN,70-92,4.0,28.0,Bartolo Colon,Nick Tropeano,2:42,D,"34,897",--,NaN,8.0,3.0,2.0,6.0,35.0,0.242,0.286,0.394,0.680,10.0,3.0,1.0,2.0,9.00,36.0,137.0,84.0,55.0,11.0,18.0,-0.366

In [7]:
hou2015 # 2015 and 2016 seasons

,game#,day,date,team,home_away,opp,win_loss,r,ra,innings,record,divison_rank,games_back,winning_pitcher,losing_pitcher,game_duration,day_night,attendance,streak,saving_pitcher,bat_hits,bat_rbi,bat_walks,bat_strike_outs,hou_plate_app,bat_batting_avg,bat_obp,bat_slg,bat_ops,pitch_opp_hits,pitch_walks,pitch_strike_outs,pitch_opp_hr,pitch_era,pitch_batters_faced,pitch_total_pitches,pitch_combined_strikes,pitch_strikes_contacted,pitch_strikes_swinging,pitch_strikes_looking,pitch_wpa
0,1,Monday,2015-04-06,HOU,NaN,CLE,W,2,0,NaN,1-0,1,Tied,Dallas Keuchel,Corey Kluber,2:30,N,"43,753",+,Luke Gregerson,3,2,2,7,28,0.120,0.179,0.120,0.299,3,3,7,0,0.00,32,122,81,37,16,28,0.626
1,2,Wednesday,2015-04-08,HOU,NaN,CLE,L,0,2,NaN,1-1,3,0.5,Carlos Carrasco,Scott Feldman,2:40,N,"23,078",-,Cody Allen,4,0,3,13,33,0.133,0.212,0.167,0.379,7,0,8,2,2.00,34,127,86,55,10,21,0.149
2,3,Thursday,2015-04-09,HOU,NaN,CLE,L,1,5,NaN,1-2,4,1.0,Trevor Bauer,Asher Wojciechowski,3:08,D,"22,593",--,NaN,1,1,7,16,35,0.036,0.229,0.143,0.371,11,3,7,2,5.00,40,161,102,61,7,34,-0.188
3,4,Friday,2015-04-10,HOU,@,TEX,W,5,1,NaN,2-2,2,0.5,Collin McHugh,Derek Holland,2:45,D,"48,885",+,NaN,10,5,2,7,37,0.294,0.333,0.529,0.863,6,2,8,0,1.00,34,119,82,41,16,25,0.444
4,5,Saturday,2015-04-11,HOU,@,TEX,L,2,6,NaN,2-3,3,0.5,Yovani Gallardo,Roberto Hernandez,3:18,N,"36,833",-,NaN,11,2,4,9,42,0.289,0.357,0.421,0.778,9,4,4,0,2.25,39,144,93,55,12,26,-0.209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,158,Tuesday,2016-09-27,HOU,NaN,SEA,W,8,4,NaN,83-75,3,10.0,Jandel Gustave,Felix Hernandez,2:55,N,"23,499",+,NaN,11,7,2,6,37,0.324,0.378,0.382,0.761,11,1,7,0,4.00,37,143,93,52,11,30,-0.127
320,159,Wednesday,2016-09-28,HOU,NaN,SEA,L,4,12,NaN,83-76,3,11.0,James Paxton,Doug Fister,3:12,D,"21,187",-,NaN,11,4,1,10,39,0.297,0.333,0.568,0.901,15,7,10,2,12.00,48,179,110,52,24,34,-0.448
321,160,Friday,2016-09-30,HOU,@,LAA,L,1,7,NaN,83-77,3,12.0,Daniel Wright,Brad Peacock,2:40,N,"30,112",--,NaN,8,1,1,10,35,0.242,0.286,0.273,0.558,6,4,7,1,5.62,34,139,93,54,9,30,-0.380
322,161,Saturday,2016-10-01,HOU,@,LAA,W,3,0,NaN,84-77,3,11.0,Collin McHugh,Tyler Skaggs,2:55,N,"32,487",+,Ken Giles,10,3,5,5,41,0.278,0.366,0.361,0.727,4,2,6,0,0.00,34,123,82,47,12,23,0.494
323,162,Sunday,2016-10-02,HOU,@,LAA,L,1,8,NaN,84-78,3,11.0,Jhoulys Chacin,Brady Rodgers,2:42,D,"28,083",-,NaN,7,1,1,8,34,0.219,0.235,0.250,0.485,9,6,5,1,9.00,39,151,85,51,13,21,-0.267

In [11]:
houston = pd.concat([hou_20, hou2015, hou2017, hou2019], sort = False)

In [13]:
year_check(houston)

([2008], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [16]:
houston.shape

(4032, 41)

In [24]:
houston.dropna(thresh=25, inplace=True)

In [26]:
year_check(houston)

([2008], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [112]:
hou_2008 = pd.read_csv('../data/patchwork/HOU/HOU_2008-2008.csv')
hou_2008_boxscore = pd.read_csv('../data/patchwork/HOU/HOU_2008_boxscore.csv')

In [70]:
boxscore_cols = ['date', 'bat_hits', 'bat_rbi', 'bat_walks',
       'bat_strike_outs', 'hou_plate_app', 'bat_batting_avg', 'bat_obp',
       'bat_slg', 'bat_ops', 'pitch_opp_hits', 'pitch_walks',
       'pitch_strike_outs', 'pitch_opp_hr', 'pitch_era', 'pitch_batters_faced',
       'pitch_total_pitches', 'pitch_combined_strikes',
       'pitch_strikes_contacted', 'pitch_strikes_swinging',
       'pitch_strikes_looking', 'pitch_wpa']

In [96]:
hou_2008_boxscore

,year,team,day,bat_hits,bat_rbi,bat_walks,bat_strike_outs,hou_plate_app,bat_batting_avg,bat_obp,bat_slg,bat_ops,pitch_opp_hits,pitch_walks,pitch_strike_outs,pitch_opp_hr,pitch_era,pitch_batters_faced,pitch_total_pitches,pitch_combined_strikes,pitch_strikes_contacted,pitch_strikes_swinging,pitch_strikes_looking,pitch_wpa
0,2008,HOU,"Monday, March 31, 2008",4,0,4,4,34,0.133,0.235,0.167,0.402,14,3,8,0,4.50,40,176,110,79,15,16,-0.122
1,2008,HOU,"Tuesday, April 1, 2008",6,1,6,5,39,0.182,0.308,0.212,0.520,9,4,6,1,2.25,35,131,80,51,9,20,0.066
2,2008,HOU,"Wednesday, April 2, 2008",11,8,1,5,40,0.289,0.300,0.684,0.984,15,1,10,2,6.00,42,159,108,62,20,26,-0.548
3,2008,HOU,"Thursday, April 3, 2008",6,2,3,6,35,0.188,0.257,0.281,0.538,8,4,4,1,3.38,34,115,66,40,10,16,-0.124
4,2008,HOU,"Friday, April 4, 2008",5,4,3,5,37,0.156,0.243,0.344,0.587,9,0,2,1,3.00,35,108,74,52,5,17,0.300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,2008,HOU,"Wednesday, September 24, 2008",9,5,5,9,36,0.290,0.389,0.387,0.776,10,2,8,0,0.00,38,135,90,51,13,26,0.478
157,2008,HOU,"Thursday, September 25, 2008",16,8,5,7,45,0.410,0.489,0.513,1.002,8,3,8,2,6.00,40,164,102,60,22,20,0.149
158,2008,HOU,"Friday, September 26, 2008",12,4,0,6,36,0.353,0.343,0.618,0.961,9,4,3,0,4.00,38,149,93,62,6,25,0.053
159,2008,HOU,"Saturday, September 27, 2008",9,5,2,7,39,0.250,0.308,0.444,0.752,18,1,10,2,11.00,45,167,109,65,22,22,-0.398
160,2008,HOU,"Sunday, September 28, 2008",8,3,0,6,31,0.267,0.290,0.400,0.690,6,1,8,0,0.00,34,126,88,48,19,21,0.445

In [159]:
# single year merge function
def single_year_merge(df1, df2):
    boxscore_cols = ['date', 'bat_hits', 'bat_rbi', 'bat_walks',
       'bat_strike_outs', 'hou_plate_app', 'bat_batting_avg', 'bat_obp',
       'bat_slg', 'bat_ops', 'pitch_opp_hits', 'pitch_walks',
       'pitch_strike_outs', 'pitch_opp_hr', 'pitch_era', 'pitch_batters_faced',
       'pitch_total_pitches', 'pitch_combined_strikes',
       'pitch_strikes_contacted', 'pitch_strikes_swinging',
       'pitch_strikes_looking', 'pitch_wpa']
    #change boxscore column from day to date
    df2.rename(columns= {'day' : 'date'}, inplace=True)
    #put df1 and df2 dates into datetime
    df1['date'] = pd.to_datetime(df1['date'])
    df2['date'] = pd.to_datetime(df2['date'])
    #merge df1 and df2 
    df = pd.merge(df1.drop(labels = 'boxscore', axis = 1), df2[boxscore_cols], how = 'outer', on = 'date')
    df.drop_duplicates(subset=['date'], inplace = True)
    #asking for user input for file name
    print('give team name and year for file name:')
    a = input()
    b = input()
    df.to_csv(f'../data/pre_clean_data/{a.upper()}/{a}_{b}.csv', index=False)
    return print('saved!')

In [127]:
single_year_merge(hou_2008, hou_2008_boxscore)

give team name and year for file name:
hou
2008
saved!

In [114]:
hou_2009 = pd.read_csv('../data/pre_clean_data/hou_2009.csv')

In [120]:
hou_2009['date'] = pd.to_datetime(hou_2009['date'])

In [116]:
houston

,game#,day,date,team,home_away,opp,win_loss,r,ra,innings,record,divison_rank,games_back,winning_pitcher,losing_pitcher,game_duration,day_night,attendance,streak,saving_pitcher,bat_hits,bat_rbi,bat_walks,bat_strike_outs,hou_plate_app,bat_batting_avg,bat_obp,bat_slg,bat_ops,pitch_opp_hits,pitch_walks,pitch_strike_outs,pitch_opp_hr,pitch_era,pitch_batters_faced,pitch_total_pitches,pitch_combined_strikes,pitch_strikes_contacted,pitch_strikes_swinging,pitch_strikes_looking,pitch_wpa
0,1,Wednesday,1995-04-26,HOU,@,SDP,W,10.0,2.0,NaN,1-0,1.0,Tied,Doug Drabek,Andy Benes,3:30,N,"41,961",+,NaN,12.0,9.0,8.0,8.0,48.0,0.300,0.417,0.550,0.967,8.0,2.0,8.0,0.0,1.00,38.0,147.0,97.0,55.0,15.0,23.0,0.270
1,2,Thursday,1995-04-27,HOU,@,SDP,L,1.0,13.0,NaN,1-1,2.0,1.0,Andy Ashby,Shane Reynolds,2:53,D,"7,468",-,NaN,5.0,1.0,4.0,11.0,35.0,0.161,0.257,0.290,0.547,21.0,1.0,8.0,1.0,9.00,47.0,148.0,94.0,58.0,20.0,14.0,-0.325
2,3,Friday,1995-04-28,HOU,NaN,COL,L,1.0,2.0,NaN,1-2,2.0,2.0,Curt Leskanic,Darryl Kile,2:47,N,"30,405",--,Bruce Ruffin,7.0,1.0,6.0,8.0,40.0,0.212,0.350,0.333,0.683,3.0,1.0,6.0,1.0,2.00,32.0,NaN,NaN,NaN,NaN,NaN,0.137
3,4,Saturday,1995-04-29,HOU,NaN,COL,L,1.0,2.0,NaN,1-3,2.0,3.0,Omar Olivares,Mike Hampton,2:54,N,"19,074",---,Bruce Ruffin,4.0,1.0,8.0,8.0,37.0,0.138,0.324,0.138,0.462,3.0,5.0,8.0,0.0,2.00,33.0,133.0,83.0,48.0,21.0,14.0,0.156
4,5,Sunday,1995-04-30,HOU,NaN,COL,W,3.0,1.0,NaN,2-3,2.0,2.0,Doug Brocail,Curt Leskanic,2:35,D,"14,455",+,John Hudek,5.0,3.0,3.0,5.0,31.0,0.185,0.290,0.222,0.513,4.0,2.0,12.0,1.0,1.00,33.0,115.0,78.0,42.0,23.0,13.0,0.367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,158,Wednesday,2019-09-25,HOU,@,SEA,W,3.0,0.0,NaN,104-54,1.0,up 9.0,Zack Greinke,Yusei Kikuchi,2:33,N,"10,921",+++,Will Harris,7.0,3.0,0.0,6.0,36.0,0.200,0.222,0.400,0.622,2.0,1.0,10.0,0.0,0.00,29.0,118.0,75.0,35.0,18.0,22.0,0.581
158,159,Thursday,2019-09-26,HOU,@,LAA,L-wo,3.0,4.0,12.0,104-55,1.0,up 8.0,Trevor Cahill,Joe Biagini,4:32,N,"39,658",-,NaN,12.0,3.0,9.0,11.0,56.0,0.261,0.393,0.413,0.806,7.0,4.0,7.0,0.0,2.31,47.0,203.0,123.0,70.0,18.0,35.0,0.308
159,160,Friday,2019-09-27,HOU,@,LAA,W,4.0,0.0,NaN,105-55,1.0,up 9.0,Jose Urquidy,Patrick Sandoval,2:37,N,"41,763",+,NaN,4.0,4.0,6.0,9.0,34.0,0.143,0.294,0.357,0.651,3.0,1.0,7.0,0.0,0.00,29.0,111.0,72.0,36.0,19.0,17.0,0.566
160,161,Saturday,2019-09-28,HOU,@,LAA,W,6.0,3.0,NaN,106-55,1.0,up 9.0,Justin Verlander,Luke Bard,2:55,N,"35,814",++,Roberto Osuna,6.0,6.0,5.0,9.0,39.0,0.182,0.308,0.455,0.762,5.0,1.0,13.0,2.0,3.00,34.0,112.0,83.0,38.0,20.0,25.0,0.160
161,162,Sunday,2019-09-29,HOU,@,LAA,W,8.0,5.0,NaN,107-55,1.0,up10.0,Gerrit Cole,Dillon Peters,3:30,D,"34,693",+++,Will Harris,13.0,8.0,4.0,7.0,45.0,0.325,0.400,0.675,1.075,8.0,4.0,15.0,2.0,5.00,40.0,172.0,111.0,53.0,27.0,31.0,0.158

In [121]:
houston_1 = pd.concat([houston, hou_2009])

In [124]:
houston_1.sort_values(by = 'date', inplace=True)

In [125]:
houston_1.isna().sum()

game#                         0
day                           0
date                          0
team                          0
home_away                  2016
opp                           0
win_loss                      0
r                             0
ra                            0
innings                    3678
record                        0
divison_rank                  0
games_back                    0
winning_pitcher               1
losing_pitcher                1
game_duration                 1
day_night                     1
attendance                   16
streak                        1
saving_pitcher             1993
bat_hits                      0
bat_rbi                       0
bat_walks                     0
bat_strike_outs               0
hou_plate_app                 0
bat_batting_avg               0
bat_obp                       0
bat_slg                       0
bat_ops                       0
pitch_opp_hits                0
pitch_walks                   0
pitch_strike_outs             0
pitch_opp_hr                  0
pitch_era                     0
pitch_batters_faced           0
pitch_total_pitches          42
pitch_combined_strikes       42
pitch_strikes_contacted      42
pitch_strikes_swinging       42
pitch_strikes_looking        42
pitch_wpa                     0
dtype: int64

In [172]:
houston_1.to_csv('../data/pre_clean_data/houston_pc.csv', index=False)

### Rangers

In [129]:
rangers = pd.read_csv('../data/Scrape_2/rangers/TEX_25.csv')

In [130]:
year_check(rangers)

([2001], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [131]:
rangers

,game#,day,date,team,home_away,opp,win_loss,r,ra,innings,record,divison_rank,games_back,winning_pitcher,losing_pitcher,game_duration,day_night,attendance,streak,saving_pitcher,bat_hits,bat_rbi,bat_walks,bat_strike_outs,hou_plate_app,bat_batting_avg,bat_obp,bat_slg,bat_ops,pitch_opp_hits,pitch_walks,pitch_strike_outs,pitch_opp_hr,pitch_era,pitch_batters_faced,pitch_total_pitches,pitch_combined_strikes,pitch_strikes_contacted,pitch_strikes_swinging,pitch_strikes_looking,pitch_wpa
0,1,Wednesday,1995-04-26,TEX,@,NYY,L,6.0,8.0,NaN,0-1,2.0,0.5,Jimmy Key,Kenny Rogers,3:10,D,"50,425",-,John Wetteland,10.0,6.0,2.0,5.0,38.0,0.303,0.361,0.424,0.785,14.0,5.0,6.0,2.0,9.00,41.0,154.0,83.0,48.0,11.0,24.0,-0.368
1,2,Thursday,1995-04-27,TEX,NaN,CLE,L,6.0,11.0,NaN,0-2,3.0,1.5,Dennis Martinez,Kevin Gross,3:17,N,"32,161",--,NaN,8.0,5.0,2.0,4.0,38.0,0.229,0.289,0.457,0.747,13.0,4.0,6.0,5.0,9.00,44.0,165.0,94.0,56.0,9.0,29.0,-0.455
2,3,Friday,1995-04-28,TEX,NaN,CLE,W,10.0,9.0,NaN,1-2,3.0,1.5,Matt Whiteside,Jim Poole,3:04,N,"22,179",+,Jeff Russell,11.0,10.0,6.0,6.0,41.0,0.324,0.439,0.647,1.086,11.0,3.0,6.0,1.0,8.00,39.0,144.0,87.0,44.0,13.0,30.0,-0.073
3,4,Saturday,1995-04-29,TEX,NaN,CLE,W-wo,6.0,5.0,NaN,2-2,2.0,1.5,Terry Burrows,Paul Shuey,3:11,N,"28,048",++,NaN,8.0,6.0,8.0,6.0,39.0,0.286,0.447,0.429,0.876,10.0,2.0,3.0,1.0,5.00,39.0,147.0,94.0,61.0,8.0,25.0,0.117
4,5,Sunday,1995-04-30,TEX,NaN,CLE,L,6.0,7.0,12.0,2-3,3.0,1.5,Jose Mesa,Matt Whiteside,4:41,D,"26,026",-,NaN,13.0,5.0,6.0,12.0,54.0,0.283,0.358,0.457,0.815,12.0,7.0,7.0,0.0,3.75,55.0,216.0,124.0,74.0,18.0,32.0,0.150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4029,158,Wednesday,2019-09-25,TEX,NaN,BOS,L,3.0,10.0,NaN,75-83,3.0,29.0,Rick Porcello,Kolby Allard,3:18,N,"29,290",--,NaN,7.0,3.0,1.0,11.0,36.0,0.212,0.278,0.303,0.581,12.0,4.0,10.0,3.0,9.00,43.0,182.0,114.0,61.0,19.0,34.0,-0.342
4030,159,Thursday,2019-09-26,TEX,NaN,BOS,W,7.0,5.0,NaN,76-83,3.0,28.0,Mike Minor,Ryan Weber,3:02,D,"24,612",+,Jose Leclerc,7.0,7.0,6.0,6.0,37.0,0.226,0.351,0.548,0.900,10.0,2.0,10.0,2.0,5.00,37.0,131.0,85.0,45.0,22.0,18.0,0.021
4031,160,Friday,2019-09-27,TEX,NaN,NYY,L,7.0,14.0,NaN,76-84,3.0,29.0,Stephen Tarpley,Joe Palumbo,3:37,N,"35,168",-,NaN,11.0,7.0,1.0,10.0,39.0,0.289,0.308,0.605,0.913,18.0,5.0,11.0,6.0,14.00,47.0,175.0,106.0,57.0,16.0,33.0,-0.367
4032,161,Saturday,2019-09-28,TEX,NaN,NYY,W,9.0,4.0,NaN,77-84,3.0,29.0,Jonathan Hernandez,Luis Severino,3:17,N,"42,870",+,NaN,9.0,9.0,11.0,9.0,44.0,0.281,0.477,0.469,0.946,7.0,2.0,7.0,0.0,4.00,34.0,134.0,81.0,44.0,16.0,21.0,0.295
4033,162,Sunday,2019-09-29,TEX,NaN,NYY,W,6.0,1.0,NaN,78-84,3.0,29.0,Lance Lynn,Masahiro Tanaka,2:47,D,"47,144",++,NaN,10.0,4.0,4.0,6.0,37.0,0.323,0.405,0.355,0.760,3.0,1.0,13.0,1.0,1.00,31.0,126.0,88.0,49.0,25.0,14.0,0.288

In [132]:
def drop_years(df1):
    df1.dropna(thresh=25, inplace=True)

In [133]:
drop_years(rangers)

In [134]:
rangers

,game#,day,date,team,home_away,opp,win_loss,r,ra,innings,record,divison_rank,games_back,winning_pitcher,losing_pitcher,game_duration,day_night,attendance,streak,saving_pitcher,bat_hits,bat_rbi,bat_walks,bat_strike_outs,hou_plate_app,bat_batting_avg,bat_obp,bat_slg,bat_ops,pitch_opp_hits,pitch_walks,pitch_strike_outs,pitch_opp_hr,pitch_era,pitch_batters_faced,pitch_total_pitches,pitch_combined_strikes,pitch_strikes_contacted,pitch_strikes_swinging,pitch_strikes_looking,pitch_wpa
0,1,Wednesday,1995-04-26,TEX,@,NYY,L,6.0,8.0,NaN,0-1,2.0,0.5,Jimmy Key,Kenny Rogers,3:10,D,"50,425",-,John Wetteland,10.0,6.0,2.0,5.0,38.0,0.303,0.361,0.424,0.785,14.0,5.0,6.0,2.0,9.00,41.0,154.0,83.0,48.0,11.0,24.0,-0.368
1,2,Thursday,1995-04-27,TEX,NaN,CLE,L,6.0,11.0,NaN,0-2,3.0,1.5,Dennis Martinez,Kevin Gross,3:17,N,"32,161",--,NaN,8.0,5.0,2.0,4.0,38.0,0.229,0.289,0.457,0.747,13.0,4.0,6.0,5.0,9.00,44.0,165.0,94.0,56.0,9.0,29.0,-0.455
2,3,Friday,1995-04-28,TEX,NaN,CLE,W,10.0,9.0,NaN,1-2,3.0,1.5,Matt Whiteside,Jim Poole,3:04,N,"22,179",+,Jeff Russell,11.0,10.0,6.0,6.0,41.0,0.324,0.439,0.647,1.086,11.0,3.0,6.0,1.0,8.00,39.0,144.0,87.0,44.0,13.0,30.0,-0.073
3,4,Saturday,1995-04-29,TEX,NaN,CLE,W-wo,6.0,5.0,NaN,2-2,2.0,1.5,Terry Burrows,Paul Shuey,3:11,N,"28,048",++,NaN,8.0,6.0,8.0,6.0,39.0,0.286,0.447,0.429,0.876,10.0,2.0,3.0,1.0,5.00,39.0,147.0,94.0,61.0,8.0,25.0,0.117
4,5,Sunday,1995-04-30,TEX,NaN,CLE,L,6.0,7.0,12.0,2-3,3.0,1.5,Jose Mesa,Matt Whiteside,4:41,D,"26,026",-,NaN,13.0,5.0,6.0,12.0,54.0,0.283,0.358,0.457,0.815,12.0,7.0,7.0,0.0,3.75,55.0,216.0,124.0,74.0,18.0,32.0,0.150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4029,158,Wednesday,2019-09-25,TEX,NaN,BOS,L,3.0,10.0,NaN,75-83,3.0,29.0,Rick Porcello,Kolby Allard,3:18,N,"29,290",--,NaN,7.0,3.0,1.0,11.0,36.0,0.212,0.278,0.303,0.581,12.0,4.0,10.0,3.0,9.00,43.0,182.0,114.0,61.0,19.0,34.0,-0.342
4030,159,Thursday,2019-09-26,TEX,NaN,BOS,W,7.0,5.0,NaN,76-83,3.0,28.0,Mike Minor,Ryan Weber,3:02,D,"24,612",+,Jose Leclerc,7.0,7.0,6.0,6.0,37.0,0.226,0.351,0.548,0.900,10.0,2.0,10.0,2.0,5.00,37.0,131.0,85.0,45.0,22.0,18.0,0.021
4031,160,Friday,2019-09-27,TEX,NaN,NYY,L,7.0,14.0,NaN,76-84,3.0,29.0,Stephen Tarpley,Joe Palumbo,3:37,N,"35,168",-,NaN,11.0,7.0,1.0,10.0,39.0,0.289,0.308,0.605,0.913,18.0,5.0,11.0,6.0,14.00,47.0,175.0,106.0,57.0,16.0,33.0,-0.367
4032,161,Saturday,2019-09-28,TEX,NaN,NYY,W,9.0,4.0,NaN,77-84,3.0,29.0,Jonathan Hernandez,Luis Severino,3:17,N,"42,870",+,NaN,9.0,9.0,11.0,9.0,44.0,0.281,0.477,0.469,0.946,7.0,2.0,7.0,0.0,4.00,34.0,134.0,81.0,44.0,16.0,21.0,0.295
4033,162,Sunday,2019-09-29,TEX,NaN,NYY,W,6.0,1.0,NaN,78-84,3.0,29.0,Lance Lynn,Masahiro Tanaka,2:47,D,"47,144",++,NaN,10.0,4.0,4.0,6.0,37.0,0.323,0.405,0.355,0.760,3.0,1.0,13.0,1.0,1.00,31.0,126.0,88.0,49.0,25.0,14.0,0.288

In [160]:
tex_2001 = pd.read_csv('../data/patchwork/TEX/TEX_2001-2001.csv')
tex_2001_boxscore = pd.read_csv('../data/patchwork/TEX/TEX_2001_boxscore.csv')

In [161]:
tex_2001

,game#,boxscore,day,date,team,home_away,opp,win_loss,r,ra,innings,record,divison_rank,games_back,winning_pitcher,losing_pitcher,game_duration,day_night,attendance,streak,saving_pitcher
0,1,/boxes/TOR/TOR200104010.shtml,Sunday,2001-04-01,TEX,@,TOR,L,1,8,NaN,0-1,4,0.5,Esteban Loaiza,Rick Helling,3:14,D,"19,891",-,NaN
1,2,/boxes/TEX/TEX200104030.shtml,Tuesday,2001-04-03,TEX,NaN,ANA,W,3,2,NaN,1-1,1,Tied,Kenny Rogers,Scott Schoeneweis,2:31,D,"49,512",+,Tim Crabtree
2,3,/boxes/TEX/TEX200104040.shtml,Wednesday,2001-04-04,TEX,NaN,ANA,W,7,3,NaN,2-1,1,Tied,Darren Oliver,Pat Rapp,2:57,N,"34,321",++,NaN
3,4,/boxes/TEX/TEX200104050.shtml,Thursday,2001-04-05,TEX,NaN,ANA,L,3,10,NaN,2-2,2,0.5,Ramon Ortiz,Ryan Glynn,2:53,N,"34,120",-,NaN
4,5,/boxes/TEX/TEX200104060.shtml,Friday,2001-04-06,TEX,NaN,SEA,L,7,9,10.0,2-3,3,1.5,Arthur Rhodes,Jeff Zimmerman,3:43,N,"34,684",--,Kazuhiro Sasaki
5,6,/boxes/TEX/TEX200104070.shtml,Saturday,2001-04-07,TEX,NaN,SEA,L,5,6,NaN,2-4,4,2.5,Ryan Franklin,Doug Davis,3:27,N,"41,651",---,Kazuhiro Sasaki
6,7,/boxes/TEX/TEX200104080.shtml,Sunday,2001-04-08,TEX,NaN,SEA,W,5,4,NaN,3-4,3,1.5,Mike Venafro,Jose Paniagua,3:18,D,"44,306",+,Tim Crabtree
7,8,/boxes/ANA/ANA200104100.shtml,Tuesday,2001-04-10,TEX,@,ANA,W,7,5,NaN,4-4,2,1.5,Darren Oliver,Pat Rapp,3:08,N,"42,784",++,Tim Crabtree
8,9,/boxes/ANA/ANA200104110.shtml,Wednesday,2001-04-11,TEX,@,ANA,L,2,7,NaN,4-5,3,2.5,Ramon Ortiz,Ryan Glynn,2:57,N,"16,974",-,NaN
9,10,/boxes/ANA/ANA200104120.shtml,Thursday,2001-04-12,TEX,@,ANA,L,3,13,NaN,4-6,3,3.5,Lou Pote,Rick Helling,3:02,N,"17,435",--,NaN
10,11,/boxes/OAK/OAK200104130.shtml,Friday,2001-04-13,TEX,@,OAK,W,13,1,NaN,5-6,3,2.5,Doug Davis,Cory Lidle,3:10,N,"19,255",+,NaN
11,12,/boxes/OAK/OAK200104140.shtml,Saturday,2001-04-14,TEX,@,OAK,W,9,8,NaN,6-6,3,2.5,Jeff Zimmerman,Jim Mecir,3:16,D,"26,730",++,Tim Crabtree
12,13,/boxes/OAK/OAK200104150.shtml,Sunday,2001-04-15,TEX,@,OAK,W,10,8,NaN,7-6,2,2.5,Darren Oliver,Gil Heredia,3:27,N,"18,853",+++,Mike Venafro
13,14,/boxes/SEA/SEA200104160.shtml,Monday,2001-04-16,TEX,@,SEA,L,7,9,NaN,7-7,2,3.5,Ryan Franklin,Ryan Glynn,3:21,N,"45,657",-,NaN
14,15,/boxes/SEA/SEA200104170.shtml,Tuesday,2001-04-17,TEX,@,SEA,L,4,6,NaN,7-8,2,4.5,Jamie Moyer,Rick Helling,2:57,N,"34,536",--,Kazuhiro Sasaki
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,148,/boxes/TEX/TEX200109210.shtml,Friday,2001-09-21,TEX,NaN,ANA,W,9,8,NaN,68-80,4,38.0,Rob Bell,Ismael Valdez,3:18,N,"37,291",+,Jeff Zimmerman
148,149,/boxes/TEX/TEX200109220.shtml,Saturday,2001-09-22,TEX,NaN,ANA,W,5,4,NaN,69-80,4,37.0,Pat Mahomes,Mike Holtz,2:43,N,"38,781",++,NaN
149,150,/boxes/TEX/TEX200109230.shtml,Sunday,2001-09-23,TEX,NaN,ANA,W,5,2,NaN,70-80,4,36.0,Rick Helling,Ramon Ortiz,2:58,D,"34,542",+++,Jeff Zimmerman
150,151,/boxes/TEX/TEX200109240.shtml,Monday,2001-09-24,TEX,NaN,SEA,L,3,9,NaN,70-81,4,37.0,Jamie Moyer,Doug Davis,3:38,N,"22,765",-,NaN
151,152,/boxes/TEX/TEX200109250.shtml,Tuesday,2001-09-25,TEX,NaN,SEA,L,2,13,NaN,70-82,4,38.0,Aaron Sele,Justin Duchscherer,3:08,N,"27,781",--,NaN
152,153,/boxes/TEX/TEX200109260.shtml,Wednesday,2001-09-26,TEX,NaN,SEA,L,5,7,NaN,70-83,4,39.0,Paul Abbott,Rob Bell,3:26,D,"24,712",---,Kazuhiro Sasaki
153,154,/boxes/ANA/ANA200109280.shtml,Friday,2001-09-28,TEX,@,ANA,W,11,2,NaN,71-83,4,39.0,Aaron Myette,Ismael Valdez,3:07,N,"26,128",+,NaN
154,155,/boxes/ANA/ANA200109290.shtml,Saturday,2001-09-29,TEX,@,ANA,L,2,13,NaN,71-84,4,39.0,Ramon Ortiz,Rick Helling,2:35,N,"26,439",-,NaN
155,156,/boxes/ANA/ANA200109300.shtml,Sunday,2001-09-30,TEX,@,ANA,W,8,6,NaN,72-84,4,39.0,Doug Davis,Shigetoshi Hasegawa,3:22,D,"17,507",+,Jeff Zimmerman
156,157,/boxes/OAK/OAK200110020.shtml,Tuesday,2001-10-02,TEX,@,OAK,L,4,9,NaN,72-85,4,40.0,Barry Zito,Darren Oliver,2:49,N,"18,336",-,NaN
157,158,/boxes/OAK/OAK200110030.shtml,Wednesday,2001-10-03,TEX,@,OAK,L,4,5,NaN,72-86,4,41.0,Cory Lidle,Chris Michalak,2:40,D,"23,740",--,Jason Isringhausen
158,159,/boxes/SEA/SEA200110040.shtml,Thursday,2001-10-04,TEX,@,SEA,L,1,16,NaN,72-87,4,42.0,Brett Tomko,Aaron Myette,3:16,N,"45,302",---,NaN
159,160,/boxes/SEA/SEA200110050.shtml,Friday,2001-10-05,TEX,@,SEA,L,2,6,NaN,72-88,4,43.0,Jamie Moyer,Rick Helling,2:16,N,"45,333",----,NaN
160,161,/boxes/SEA/SEA200110060.shtml,Saturday,2001-10-06,TEX,@,SEA,L,0,1,NaN,72-89,4,44.0,Joel Pineiro,Doug Davis,2:19,N,"45,607",-----,Kazuhiro Sasaki
161,162,/boxes/SEA/SEA200110070.shtml,Sunday,2001-10-07,TEX,@,SEA,W,4,3,NaN,73-89,4,43.0,Pat Mahomes,Jeff Nelson,2:56,D,"45,578",+,Jeff Zimmerman

In [162]:
tex_2001_boxscore

,year,team,day,bat_hits,bat_rbi,bat_walks,bat_strike_outs,hou_plate_app,bat_batting_avg,bat_obp,bat_slg,bat_ops,pitch_opp_hits,pitch_walks,pitch_strike_outs,pitch_opp_hr,pitch_era,pitch_batters_faced,pitch_total_pitches,pitch_combined_strikes,pitch_strikes_contacted,pitch_strikes_swinging,pitch_strikes_looking,pitch_wpa
0,2001,TEX,"Sunday, April 1, 2001",9,1,1,10,37,0.257,0.297,0.400,0.697,13,2,7,2,9.00,39,150,98,64,14,20,-0.209
1,2001,TEX,"Tuesday, April 3, 2001",8,2,3,6,32,0.296,0.375,0.407,0.782,9,1,5,0,2.00,34,114,75,49,13,13,0.578
2,2001,TEX,"Wednesday, April 4, 2001",8,7,4,5,36,0.267,0.333,0.567,0.900,8,6,8,2,3.00,41,151,91,54,10,27,0.297
3,2001,TEX,"Thursday, April 5, 2001",5,3,2,11,36,0.152,0.222,0.364,0.586,13,2,7,4,10.00,42,165,111,66,14,31,-0.344
4,2001,TEX,"Friday, April 6, 2001",9,7,5,8,43,0.250,0.349,0.389,0.738,12,6,4,3,8.10,48,180,105,62,10,33,-0.523
5,2001,TEX,"Saturday, April 7, 2001",12,5,4,7,42,0.316,0.381,0.579,0.960,12,4,2,0,6.00,43,166,100,62,9,29,-0.149
6,2001,TEX,"Sunday, April 8, 2001",11,5,6,5,41,0.344,0.475,0.656,1.131,8,4,3,3,4.00,39,146,87,48,4,35,0.162
7,2001,TEX,"Tuesday, April 10, 2001",8,7,5,6,41,0.229,0.341,0.343,0.684,15,1,9,1,5.00,42,137,93,56,13,24,0.153
8,2001,TEX,"Wednesday, April 11, 2001",7,2,4,8,37,0.212,0.297,0.273,0.570,12,6,3,2,7.88,41,149,81,60,6,15,-0.224
9,2001,TEX,"Thursday, April 12, 2001",11,3,2,9,40,0.289,0.325,0.421,0.746,12,2,7,2,14.62,40,144,91,53,14,24,-0.387
10,2001,TEX,"Friday, April 13, 2001",18,11,4,3,50,0.419,0.480,0.791,1.271,8,3,6,0,1.00,38,149,94,51,12,31,0.080
11,2001,TEX,"Saturday, April 14, 2001",11,9,2,10,40,0.297,0.333,0.486,0.820,14,3,6,2,8.00,43,179,113,60,10,43,-0.070
12,2001,TEX,"Sunday, April 15, 2001",15,9,4,5,44,0.385,0.455,0.821,1.275,13,5,4,2,7.00,41,160,97,57,5,35,-0.192
13,2001,TEX,"Monday, April 16, 2001",12,7,2,9,41,0.308,0.341,0.513,0.854,11,10,4,0,10.12,44,166,94,51,10,33,-0.343
14,2001,TEX,"Tuesday, April 17, 2001",7,4,2,7,36,0.212,0.278,0.333,0.611,11,1,6,2,4.50,36,144,91,58,3,30,-0.319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,2001,TEX,"Friday, September 21, 2001",15,9,5,5,42,0.405,0.476,0.703,1.179,11,5,2,2,8.00,43,158,93,59,10,24,0.119
148,2001,TEX,"Saturday, September 22, 2001",8,5,2,5,34,0.258,0.303,0.581,0.884,9,1,4,1,4.00,36,123,80,49,9,22,0.308
149,2001,TEX,"Sunday, September 23, 2001",10,4,5,7,40,0.303,0.410,0.485,0.895,10,2,7,0,2.00,39,152,95,56,12,27,0.312
150,2001,TEX,"Monday, September 24, 2001",12,3,3,8,43,0.324,0.372,0.378,0.750,13,6,7,0,9.00,47,200,117,63,12,42,-0.308
151,2001,TEX,"Tuesday, September 25, 2001",8,2,2,5,39,0.216,0.256,0.216,0.473,16,3,9,3,13.00,50,184,112,57,14,41,-0.377
152,2001,TEX,"Wednesday, September 26, 2001",9,5,5,8,41,0.257,0.366,0.571,0.937,10,9,5,1,7.00,46,183,102,63,12,27,-0.347
153,2001,TEX,"Friday, September 28, 2001",15,11,7,3,48,0.385,0.479,0.718,1.197,8,2,9,0,2.00,39,149,103,62,17,24,0.076
154,2001,TEX,"Saturday, September 29, 2001",9,2,2,3,38,0.250,0.289,0.333,0.623,13,3,5,3,14.62,41,134,84,47,12,25,-0.353
155,2001,TEX,"Sunday, September 30, 2001",13,7,6,5,47,0.325,0.426,0.600,1.026,10,4,6,1,6.00,39,145,94,53,12,29,0.005
156,2001,TEX,"Tuesday, October 2, 2001",10,4,2,6,38,0.278,0.316,0.417,0.732,12,5,4,2,10.12,40,153,92,59,8,25,-0.342
157,2001,TEX,"Wednesday, October 3, 2001",6,4,2,10,35,0.182,0.229,0.212,0.441,9,4,5,4,5.62,36,138,80,41,7,32,-0.255
158,2001,TEX,"Thursday, October 4, 2001",4,1,2,7,35,0.121,0.171,0.242,0.414,19,6,8,1,18.00,50,212,119,70,13,36,-0.408
159,2001,TEX,"Friday, October 5, 2001",4,2,0,4,31,0.129,0.129,0.194,0.323,7,3,5,2,6.75,33,124,70,46,9,15,-0.306
160,2001,TEX,"Saturday, October 6, 2001",2,0,2,8,30,0.071,0.133,0.107,0.240,4,3,4,1,1.12,29,125,74,42,16,16,0.257
161,2001,TEX,"Sunday, October 7, 2001",12,4,4,9,42,0.324,0.405,0.459,0.864,6,0,7,2,3.00,32,127,81,46,12,23,0.419

In [163]:
single_year_merge(tex_2001, tex_2001_boxscore)

give team name and year for file name:
tex
2001
saved!

In [164]:
texas_import = pd.read_csv('../data/pre_clean_data/TEX/tex_2001.csv')

In [157]:
pd.options.display.min_rows = 30

In [165]:
texas_import

,game#,day,date,team,home_away,opp,win_loss,r,ra,innings,record,divison_rank,games_back,winning_pitcher,losing_pitcher,game_duration,day_night,attendance,streak,saving_pitcher,bat_hits,bat_rbi,bat_walks,bat_strike_outs,hou_plate_app,bat_batting_avg,bat_obp,bat_slg,bat_ops,pitch_opp_hits,pitch_walks,pitch_strike_outs,pitch_opp_hr,pitch_era,pitch_batters_faced,pitch_total_pitches,pitch_combined_strikes,pitch_strikes_contacted,pitch_strikes_swinging,pitch_strikes_looking,pitch_wpa
0,1,Sunday,2001-04-01,TEX,@,TOR,L,1,8,NaN,0-1,4,0.5,Esteban Loaiza,Rick Helling,3:14,D,"19,891",-,NaN,9,1,1,10,37,0.257,0.297,0.400,0.697,13,2,7,2,9.00,39,150,98,64,14,20,-0.209
1,2,Tuesday,2001-04-03,TEX,NaN,ANA,W,3,2,NaN,1-1,1,Tied,Kenny Rogers,Scott Schoeneweis,2:31,D,"49,512",+,Tim Crabtree,8,2,3,6,32,0.296,0.375,0.407,0.782,9,1,5,0,2.00,34,114,75,49,13,13,0.578
2,3,Wednesday,2001-04-04,TEX,NaN,ANA,W,7,3,NaN,2-1,1,Tied,Darren Oliver,Pat Rapp,2:57,N,"34,321",++,NaN,8,7,4,5,36,0.267,0.333,0.567,0.900,8,6,8,2,3.00,41,151,91,54,10,27,0.297
3,4,Thursday,2001-04-05,TEX,NaN,ANA,L,3,10,NaN,2-2,2,0.5,Ramon Ortiz,Ryan Glynn,2:53,N,"34,120",-,NaN,5,3,2,11,36,0.152,0.222,0.364,0.586,13,2,7,4,10.00,42,165,111,66,14,31,-0.344
4,5,Friday,2001-04-06,TEX,NaN,SEA,L,7,9,10.0,2-3,3,1.5,Arthur Rhodes,Jeff Zimmerman,3:43,N,"34,684",--,Kazuhiro Sasaki,9,7,5,8,43,0.250,0.349,0.389,0.738,12,6,4,3,8.10,48,180,105,62,10,33,-0.523
5,6,Saturday,2001-04-07,TEX,NaN,SEA,L,5,6,NaN,2-4,4,2.5,Ryan Franklin,Doug Davis,3:27,N,"41,651",---,Kazuhiro Sasaki,12,5,4,7,42,0.316,0.381,0.579,0.960,12,4,2,0,6.00,43,166,100,62,9,29,-0.149
6,7,Sunday,2001-04-08,TEX,NaN,SEA,W,5,4,NaN,3-4,3,1.5,Mike Venafro,Jose Paniagua,3:18,D,"44,306",+,Tim Crabtree,11,5,6,5,41,0.344,0.475,0.656,1.131,8,4,3,3,4.00,39,146,87,48,4,35,0.162
7,8,Tuesday,2001-04-10,TEX,@,ANA,W,7,5,NaN,4-4,2,1.5,Darren Oliver,Pat Rapp,3:08,N,"42,784",++,Tim Crabtree,8,7,5,6,41,0.229,0.341,0.343,0.684,15,1,9,1,5.00,42,137,93,56,13,24,0.153
8,9,Wednesday,2001-04-11,TEX,@,ANA,L,2,7,NaN,4-5,3,2.5,Ramon Ortiz,Ryan Glynn,2:57,N,"16,974",-,NaN,7,2,4,8,37,0.212,0.297,0.273,0.570,12,6,3,2,7.88,41,149,81,60,6,15,-0.224
9,10,Thursday,2001-04-12,TEX,@,ANA,L,3,13,NaN,4-6,3,3.5,Lou Pote,Rick Helling,3:02,N,"17,435",--,NaN,11,3,2,9,40,0.289,0.325,0.421,0.746,12,2,7,2,14.62,40,144,91,53,14,24,-0.387
10,11,Friday,2001-04-13,TEX,@,OAK,W,13,1,NaN,5-6,3,2.5,Doug Davis,Cory Lidle,3:10,N,"19,255",+,NaN,18,11,4,3,50,0.419,0.480,0.791,1.271,8,3,6,0,1.00,38,149,94,51,12,31,0.080
11,12,Saturday,2001-04-14,TEX,@,OAK,W,9,8,NaN,6-6,3,2.5,Jeff Zimmerman,Jim Mecir,3:16,D,"26,730",++,Tim Crabtree,11,9,2,10,40,0.297,0.333,0.486,0.820,14,3,6,2,8.00,43,179,113,60,10,43,-0.070
12,13,Sunday,2001-04-15,TEX,@,OAK,W,10,8,NaN,7-6,2,2.5,Darren Oliver,Gil Heredia,3:27,N,"18,853",+++,Mike Venafro,15,9,4,5,44,0.385,0.455,0.821,1.275,13,5,4,2,7.00,41,160,97,57,5,35,-0.192
13,14,Monday,2001-04-16,TEX,@,SEA,L,7,9,NaN,7-7,2,3.5,Ryan Franklin,Ryan Glynn,3:21,N,"45,657",-,NaN,12,7,2,9,41,0.308,0.341,0.513,0.854,11,10,4,0,10.12,44,166,94,51,10,33,-0.343
14,15,Tuesday,2001-04-17,TEX,@,SEA,L,4,6,NaN,7-8,2,4.5,Jamie Moyer,Rick Helling,2:57,N,"34,536",--,Kazuhiro Sasaki,7,4,2,7,36,0.212,0.278,0.333,0.611,11,1,6,2,4.50,36,144,91,58,3,30,-0.319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,148,Friday,2001-09-21,TEX,NaN,ANA,W,9,8,NaN,68-80,4,38.0,Rob Bell,Ismael Valdez,3:18,N,"37,291",+,Jeff Zimmerman,15,9,5,5,42,0.405,0.476,0.703,1.179,11,5,2,2,8.00,43,158,93,59,10,24,0.119
146,149,Saturday,2001-09-22,TEX,NaN,ANA,W,5,4,NaN,69-80,4,37.0,Pat Mahomes,Mike Holtz,2:43,N,"38,781",++,NaN,8,5,2,5,34,0.258,0.303,0.581,0.884,9,1,4,1,4.00,36,123,80,49,9,22,0.308
147,150,Sunday,2001-09-23,TEX,NaN,ANA,W,5,2,NaN,70-80,4,36.0,Rick Helling,Ramon Ortiz,2:58,D,"34,542",+++,Jeff Zimmerman,10,4,5,7,40,0.303,0.410,0.485,0.895,10,2,7,0,2.00,39,152,95,56,12,27,0.312
148,151,Monday,2001-09-24,TEX,NaN,SEA,L,3,9,NaN,70-81,4,37.0,Jamie Moyer,Doug Davis,3:38,N,"22,765",-,NaN,12,3,3,8,43,0.324,0.372,0.378,0.750,13,6,7,0,9.00,47,200,117,63,12,42,-0.308
149,152,Tuesday,2001-09-25,TEX,NaN,SEA,L,2,13,NaN,70-82,4,38.0,Aaron Sele,Justin Duchscherer,3:08,N,"27,781",--,NaN,8,2,2,5,39,0.216,0.256,0.216,0.473,16,3,9,3,13.00,50,184,112,57,14,41,-0.377
150,153,Wednesday,2001-09-26,TEX,NaN,SEA,L,5,7,NaN,70-83,4,39.0,Paul Abbott,Rob Bell,3:26,D,"24,712",---,Kazuhiro Sasaki,9,5,5,8,41,0.257,0.366,0.571,0.937,10,9,5,1,7.00,46,183,102,63,12,27,-0.347
151,154,Friday,2001-09-28,TEX,@,ANA,W,11,2,NaN,71-83,4,39.0,Aaron Myette,Ismael Valdez,3:07,N,"26,128",+,NaN,15,11,7,3,48,0.385,0.479,0.718,1.197,8,2,9,0,2.00,39,149,103,62,17,24,0.076
152,155,Saturday,2001-09-29,TEX,@,ANA,L,2,13,NaN,71-84,4,39.0,Ramon Ortiz,Rick Helling,2:35,N,"26,439",-,NaN,9,2,2,3,38,0.250,0.289,0.333,0.623,13,3,5,3,14.62,41,134,84,47,12,25,-0.353
153,156,Sunday,2001-09-30,TEX,@,ANA,W,8,6,NaN,72-84,4,39.0,Doug Davis,Shigetoshi Hasegawa,3:22,D,"17,507",+,Jeff Zimmerman,13,7,6,5,47,0.325,0.426,0.600,1.026,10,4,6,1,6.00,39,145,94,53,12,29,0.005
154,157,Tuesday,2001-10-02,TEX,@,OAK,L,4,9,NaN,72-85,4,40.0,Barry Zito,Darren Oliver,2:49,N,"18,336",-,NaN,10,4,2,6,38,0.278,0.316,0.417,0.732,12,5,4,2,10.12,40,153,92,59,8,25,-0.342
155,158,Wednesday,2001-10-03,TEX,@,OAK,L,4,5,NaN,72-86,4,41.0,Cory Lidle,Chris Michalak,2:40,D,"23,740",--,Jason Isringhausen,6,4,2,10,35,0.182,0.229,0.212,0.441,9,4,5,4,5.62,36,138,80,41,7,32,-0.255
156,159,Thursday,2001-10-04,TEX,@,SEA,L,1,16,NaN,72-87,4,42.0,Brett Tomko,Aaron Myette,3:16,N,"45,302",---,NaN,4,1,2,7,35,0.121,0.171,0.242,0.414,19,6,8,1,18.00,50,212,119,70,13,36,-0.408
157,160,Friday,2001-10-05,TEX,@,SEA,L,2,6,NaN,72-88,4,43.0,Jamie Moyer,Rick Helling,2:16,N,"45,333",----,NaN,4,2,0,4,31,0.129,0.129,0.194,0.323,7,3,5,2,6.75,33,124,70,46,9,15,-0.306
158,161,Saturday,2001-10-06,TEX,@,SEA,L,0,1,NaN,72-89,4,44.0,Joel Pineiro,Doug Davis,2:19,N,"45,607",-----,Kazuhiro Sasaki,2,0,2,8,30,0.071,0.133,0.107,0.240,4,3,4,1,1.12,29,125,74,42,16,16,0.257
159,162,Sunday,2001-10-07,TEX,@,SEA,W,4,3,NaN,73-89,4,43.0,Pat Mahomes,Jeff Nelson,2:56,D,"45,578",+,Jeff Zimmerman,12,4,4,9,42,0.324,0.405,0.459,0.864,6,0,7,2,3.00,32,127,81,46,12,23,0.419

In [166]:
rangers_1 = pd.concat([rangers, texas_import])

In [168]:
rangers_1['date'] = pd.to_datetime(rangers_1['date'])

In [170]:
rangers_1.sort_values(by='date', inplace=True)

In [173]:
rangers_1.to_csv('../data/pre_clean_data/TEX/rangers_pc.csv', index=False)

In [187]:
pd.options.display.min_rows = 10

### Oakland

In [174]:
oakland = pd.read_csv('../data/Scrape_2/athletics/OAK_25.csv')

In [175]:
year_check(oakland)

([1996, 1997],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [177]:
oakland_years = pd.read_csv('../data/patchwork/OAK/OAK_1996-1997.csv')
oakland_1996_boxscore = pd.read_csv('../data/patchwork/OAK/OAK_1996_boxscore.csv')
oakland_1997_boxscore = pd.read_csv('../data/patchwork/OAK/OAK_1997_boxscore.csv')

In [178]:
oakland_years['date'] = pd.to_datetime(oakland_years['date'])

In [182]:
oakland_1996 = oakland_years[oakland_years['date'].dt.year == 1996].copy()
oakland_1997 = oakland_years[oakland_years['date'].dt.year == 1997].copy()

In [183]:
single_year_merge(oakland_1996, oakland_1996_boxscore)

give team name and year for file name:
oak
1996
saved!

In [188]:
single_year_merge(oakland_1997, oakland_1997_boxscore)

give team name and year for file name:
oak
1997
saved!

In [189]:
oak_96 = pd.read_csv('../data/pre_clean_data/OAK/oak_1996.csv')
oak_97 = pd.read_csv('../data/pre_clean_data/OAK/oak_1997.csv')

In [190]:
oak_96['date'] = pd.to_datetime(oak_96['date'])
oak_97['date'] = pd.to_datetime(oak_97['date'])

In [194]:
oak_96

,game#,day,date,team,home_away,opp,win_loss,r,ra,innings,record,divison_rank,games_back,winning_pitcher,losing_pitcher,game_duration,day_night,attendance,streak,saving_pitcher,bat_hits,bat_rbi,bat_walks,bat_strike_outs,hou_plate_app,bat_batting_avg,bat_obp,bat_slg,bat_ops,pitch_opp_hits,pitch_walks,pitch_strike_outs,pitch_opp_hr,pitch_era,pitch_batters_faced,pitch_total_pitches,pitch_combined_strikes,pitch_strikes_contacted,pitch_strikes_swinging,pitch_strikes_looking,pitch_wpa
0,1,Monday,1996-04-01,OAK,NaN,TOR,L,6,9,NaN,0-1,4,1.0,Erik Hanson,Carlos Reyes,3:02,N,"7,294",-,Mike Timlin,5,6,6,6,37,0.161,0.297,0.387,0.684,13,4,9,3,9.0,43,166.0,100.0,57.0,14.0,28.0,-0.333
1,2,Wednesday,1996-04-03,OAK,NaN,TOR,L,4,10,NaN,0-2,4,2.0,Pat Hentgen,Ariel Prieto,3:12,N,"8,050",--,NaN,7,4,6,10,39,0.212,0.333,0.333,0.667,11,11,9,2,10.0,48,195.0,107.0,59.0,23.0,24.0,-0.542
2,3,Thursday,1996-04-04,OAK,NaN,DET,L,9,10,15.0,0-3,4,3.0,Greg Keagle,Aaron Small,4:47,D,"8,346",---,NaN,13,9,8,11,65,0.245,0.339,0.377,0.716,13,11,5,3,4.8,69,268.0,148.0,89.0,17.0,41.0,0.252
3,4,Friday,1996-04-05,OAK,NaN,DET,W,13,2,NaN,1-3,4,2.5,Doug Johns,Greg Gohr,2:50,N,"11,149",+,NaN,16,12,4,10,44,0.400,0.455,0.750,1.205,4,2,6,0,2.0,33,126.0,80.0,51.0,12.0,17.0,0.283
4,5,Saturday,1996-04-06,OAK,NaN,DET,L,1,6,NaN,1-4,4,3.5,Felipe Lira,Carlos Reyes,3:03,D,"10,424",-,NaN,5,1,7,3,39,0.156,0.308,0.250,0.558,12,5,6,3,5.0,42,182.0,105.0,71.0,12.0,22.0,-0.095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,158,Tuesday,1996-09-24,OAK,NaN,TEX,L,3,7,NaN,75-83,3,12.0,Dennis Cook,Aaron Small,3:09,D,"9,694",-,NaN,4,3,5,7,36,0.138,0.257,0.172,0.430,11,3,5,1,5.0,41,163.0,95.0,53.0,14.0,28.0,-0.263
155,159,Thursday,1996-09-26,OAK,NaN,SEA,W,7,5,NaN,76-83,3,12.0,Billy Taylor,Norm Charlton,3:14,D,"11,141",+,NaN,9,6,6,4,39,0.281,0.385,0.406,0.791,12,5,4,2,5.0,42,160.0,90.0,59.0,8.0,23.0,-0.178
156,160,Friday,1996-09-27,OAK,NaN,SEA,W,8,1,NaN,77-83,3,11.0,Dave Telgheder,Terry Mulholland,2:45,N,"25,132",++,NaN,12,8,5,3,39,0.353,0.436,0.500,0.936,7,4,7,0,1.0,37,150.0,91.0,48.0,17.0,26.0,0.457
157,161,Saturday,1996-09-28,OAK,NaN,SEA,L,3,5,10.0,77-84,3,12.0,Rafael Carmona,Mark Acre,3:28,D,"30,057",-,Norm Charlton,8,3,7,3,41,0.242,0.375,0.333,0.708,8,5,2,1,4.5,43,171.0,106.0,73.0,7.0,26.0,-0.026
158,162,Sunday,1996-09-29,OAK,NaN,SEA,W,3,1,NaN,78-84,3,12.0,Aaron Small,Salomon Torres,2:00,D,"34,462",+,Billy Taylor,5,2,5,3,33,0.185,0.303,0.259,0.562,6,0,8,1,1.0,33,110.0,76.0,43.0,16.0,17.0,0.536

In [193]:
oak_97

,game#,day,date,team,home_away,opp,win_loss,r,ra,innings,record,divison_rank,games_back,winning_pitcher,losing_pitcher,game_duration,day_night,attendance,streak,saving_pitcher,bat_hits,bat_rbi,bat_walks,bat_strike_outs,hou_plate_app,bat_batting_avg,bat_obp,bat_slg,bat_ops,pitch_opp_hits,pitch_walks,pitch_strike_outs,pitch_opp_hr,pitch_era,pitch_batters_faced,pitch_total_pitches,pitch_combined_strikes,pitch_strikes_contacted,pitch_strikes_swinging,pitch_strikes_looking,pitch_wpa
0,1,Wednesday,1997-04-02,OAK,NaN,CLE,L,7,9,NaN,0-1,3,1.0,Steve Kline,Don Wengert,3:16,N,"41,235",-,Paul Shuey,11,5,2,5,39,0.297,0.333,0.622,0.955,13,6,5,3,5.00,44,167.0,99.0,53.0,21.0,25.0,-0.550
1,2,Thursday,1997-04-03,OAK,NaN,CLE,W,5,4,NaN,1-1,2,0.5,Richie Lewis,Eric Plunk,3:15,D,"13,707",+,Billy Taylor,8,5,11,4,44,0.258,0.465,0.484,0.949,6,6,8,1,4.00,38,161.0,93.0,53.0,14.0,26.0,0.238
2,3,Friday,1997-04-04,OAK,NaN,NYY,W,4,2,NaN,2-1,1,Tied,Mark Acre,David Weathers,2:47,N,"17,330",++,Billy Taylor,9,4,5,9,39,0.273,0.385,0.455,0.839,11,4,2,0,2.00,39,113.0,64.0,45.0,5.0,14.0,0.252
3,4,Saturday,1997-04-05,OAK,NaN,NYY,L,5,10,NaN,2-2,1,Tied,Dwight Gooden,Mike Mohler,3:19,D,"25,438",-,Mariano Rivera,10,5,1,7,37,0.286,0.324,0.600,0.924,13,9,5,1,10.00,49,197.0,103.0,58.0,24.0,21.0,-0.386
4,5,Sunday,1997-04-06,OAK,NaN,NYY,W,3,0,NaN,3-2,1,up 0.5,Mark Acre,Jeff Nelson,2:49,D,"22,124",+,Billy Taylor,4,1,5,10,35,0.133,0.257,0.167,0.424,7,2,1,0,0.00,35,122.0,77.0,50.0,5.0,22.0,0.601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,158,Tuesday,1997-09-23,OAK,NaN,TEX,L,6,14,NaN,63-95,4,26.0,John Burkett,Dave Telgheder,2:55,D,"9,968",---,NaN,11,6,3,7,42,0.289,0.333,0.395,0.728,20,2,3,4,13.00,47,155.0,99.0,69.0,9.0,21.0,-0.503
155,159,Wednesday,1997-09-24,OAK,NaN,TEX,L,4,8,NaN,63-96,4,26.0,Darren Oliver,Jimmy Haynes,2:46,N,"12,190",----,NaN,7,4,1,6,34,0.219,0.265,0.344,0.608,13,6,7,0,7.00,47,157.0,95.0,54.0,15.0,26.0,-0.131
156,160,Friday,1997-09-26,OAK,@,SEA,W,8,5,NaN,64-96,4,25.0,Mike Oquist,Jamie Moyer,3:03,N,"55,560",+,T.J. Mathews,12,6,4,6,41,0.333,0.400,0.528,0.928,7,4,12,2,5.00,38,156.0,97.0,47.0,20.0,30.0,0.036
157,161,Saturday,1997-09-27,OAK,@,SEA,L,3,9,NaN,64-97,4,26.0,Randy Johnson,Brad Rigby,2:46,D,"50,443",-,NaN,10,3,1,7,37,0.278,0.297,0.333,0.631,13,5,5,3,10.12,43,148.0,80.0,50.0,8.0,22.0,-0.443
158,162,Sunday,1997-09-28,OAK,@,SEA,W,9,7,NaN,65-97,4,25.0,Aaron Small,Norm Charlton,3:20,D,"55,910",+,Billy Taylor,11,9,4,8,42,0.306,0.357,0.556,0.913,11,6,8,0,6.00,43,162.0,93.0,46.0,23.0,24.0,-0.106

In [195]:
drop_years(oakland)

In [196]:
oakland

,game#,day,date,team,home_away,opp,win_loss,r,ra,innings,record,divison_rank,games_back,winning_pitcher,losing_pitcher,game_duration,day_night,attendance,streak,bat_hits,bat_rbi,bat_walks,bat_strike_outs,hou_plate_app,bat_batting_avg,bat_obp,bat_slg,bat_ops,pitch_opp_hits,pitch_walks,pitch_strike_outs,pitch_opp_hr,pitch_era,pitch_batters_faced,pitch_total_pitches,pitch_combined_strikes,pitch_strikes_contacted,pitch_strikes_swinging,pitch_strikes_looking,pitch_wpa,saving_pitcher
0,1,Wednesday,1995-04-26,OAK,@,TOR,L,1.0,13.0,NaN,0-1,2.0,0.5,David Cone,Dave Stewart,3:01,N,"50,426",-,6.0,1.0,3.0,7.0,36.0,0.194,0.278,0.226,0.504,11.0,7.0,5.0,0.0,9.00,43.0,162.0,90.0,48.0,11.0,31.0,-0.484,NaN
1,2,Thursday,1995-04-27,OAK,@,TOR,L,1.0,7.0,NaN,0-2,3.0,1.5,Pat Hentgen,Ron Darling,2:26,D,"31,070",--,4.0,0.0,2.0,8.0,32.0,0.133,0.188,0.133,0.321,8.0,2.0,5.0,1.0,7.88,33.0,139.0,83.0,51.0,14.0,18.0,-0.231,NaN
2,3,Friday,1995-04-28,OAK,@,MIL,L-wo,7.0,8.0,10.0,0-3,4.0,2.5,Mark Kiefer,Dennis Eckersley,3:37,N,"10,059",---,9.0,7.0,6.0,9.0,44.0,0.243,0.341,0.432,0.773,8.0,4.0,9.0,1.0,6.52,42.0,159.0,95.0,46.0,23.0,26.0,-0.707,NaN
3,4,Saturday,1995-04-29,OAK,@,MIL,W,8.0,2.0,NaN,1-3,4.0,2.5,Steve Ontiveros,Bill Wegman,3:09,D,"10,113",+,12.0,7.0,3.0,5.0,42.0,0.324,0.357,0.405,0.763,4.0,3.0,4.0,0.0,0.00,34.0,123.0,76.0,41.0,9.0,26.0,0.293,Rick Honeycutt
4,5,Sunday,1995-04-30,OAK,@,MIL,L,3.0,4.0,NaN,1-4,4.0,2.5,Mark Kiefer,Don Wengert,2:44,D,"9,175",-,6.0,2.0,2.0,3.0,33.0,0.194,0.242,0.258,0.500,8.0,4.0,2.0,0.0,4.50,36.0,NaN,NaN,NaN,NaN,NaN,-0.015,Graeme Lloyd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4025,158,Wednesday,2019-09-25,OAK,@,LAA,W,3.0,2.0,NaN,95-63,2.0,9.0,Joakim Soria,Hansel Robles,3:29,N,"36,865",+,12.0,3.0,3.0,11.0,42.0,0.324,0.390,0.568,0.958,6.0,3.0,9.0,1.0,2.00,36.0,135.0,82.0,47.0,13.0,22.0,0.338,Liam Hendriks
4026,159,Thursday,2019-09-26,OAK,@,SEA,W,3.0,1.0,NaN,96-63,2.0,8.0,Sean Manaea,Felix Hernandez,2:39,N,"20,907",++,6.0,3.0,5.0,6.0,39.0,0.182,0.308,0.273,0.580,4.0,0.0,10.0,0.0,1.00,29.0,117.0,81.0,44.0,14.0,23.0,0.513,Liam Hendriks
4027,160,Friday,2019-09-27,OAK,@,SEA,L-wo,3.0,4.0,NaN,96-64,2.0,9.0,Art Warren,Liam Hendriks,3:34,N,"24,198",-,7.0,3.0,6.0,5.0,39.0,0.212,0.333,0.394,0.727,8.0,5.0,9.0,0.0,4.15,38.0,183.0,110.0,63.0,21.0,26.0,-0.468,NaN
4028,161,Saturday,2019-09-28,OAK,@,SEA,W,1.0,0.0,NaN,97-64,2.0,9.0,Brett Anderson,Marco Gonzales,2:41,N,"26,470",+,6.0,1.0,4.0,8.0,35.0,0.194,0.286,0.323,0.608,6.0,1.0,6.0,0.0,0.00,35.0,129.0,79.0,41.0,12.0,26.0,0.846,Jesus Luzardo
4029,162,Sunday,2019-09-29,OAK,@,SEA,L,1.0,3.0,NaN,97-65,2.0,10.0,Reggie McClain,Tanner Roark,2:52,D,"16,819",-,3.0,1.0,4.0,8.0,34.0,0.100,0.206,0.133,0.339,7.0,5.0,7.0,1.0,3.38,36.0,149.0,82.0,44.0,14.0,24.0,-0.057,Anthony Bass

In [198]:
oakland_1 = pd.concat([oakland, oak_96, oak_97], sort = False)

In [200]:
oakland_1.to_csv('../data/pre_clean_data/oakland_pc.csv', index=False)

### Seattle

In [201]:
seattle = pd.read_csv('../data/Scrape_2/mariners/SEA_25.csv')
year_check(seattle)

([2007, 2011],
 Timestamp('1995-04-27 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [202]:
seattle.shape

(4031, 41)

In [203]:
drop_years(seattle)

In [204]:
seattle.shape

(3707, 41)

In [205]:
seattle.dtypes

game#                               int64
day                                object
date                       datetime64[ns]
team                               object
home_away                          object
                                ...
pitch_combined_strikes            float64
pitch_strikes_contacted           float64
pitch_strikes_swinging            float64
pitch_strikes_looking             float64
pitch_wpa                         float64
Length: 41, dtype: object

In [213]:
seattle_years = pd.read_csv('../data/patchwork/SEA/SEA_2007-2011.csv')
seattle_2011_boxscore = pd.read_csv('../data/patchwork/SEA/SEA_2011_boxscore.csv')
seattle_2007_boxscore = pd.read_csv('../data/patchwork/SEA/SEA_2017_boxscore.csv')

In [214]:
seattle_years['date'] = pd.to_datetime(seattle_years['date'])

In [218]:
seattle_2007 = seattle_years[seattle_years['date'].dt.year == 2007].copy()
seattle_2011 = seattle_years[seattle_years['date'].dt.year == 2011].copy()

In [219]:
single_year_merge(seattle_2007, seattle_2007_boxscore)

give team name and year for file name:
sea
2007
saved!

In [220]:
single_year_merge(seattle_2011, seattle_2011_boxscore)

give team name and year for file name:
sea
2011
saved!

In [221]:
sea_07 = pd.read_csv('../data/pre_clean_data/SEA/sea_2007.csv')
sea_11 = pd.read_csv('../data/pre_clean_data/SEA/sea_2011.csv')

In [222]:
sea_07.shape

(160, 41)

In [223]:
sea_11.shape

(161, 41)

In [224]:
sea_07['date'] = pd.to_datetime(sea_07['date'])
sea_11['date'] = pd.to_datetime(sea_11['date'])

In [225]:
seattle_1 = pd.concat([seattle, sea_07, sea_11], sort = False)

In [228]:
seattle_1.sort_values(by = 'date', inplace=True)

In [229]:
seattle_1.to_csv('../data/pre_clean_data/SEA/seattle_pc.csv', index=False)

### CLE

In [230]:
cleveland = pd.read_csv('../data/Scrape_2/indians/CLE_25.csv')

In [231]:
year_check(cleveland)

([2000, 2002, 2007, 2017],
 Timestamp('1995-04-27 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [232]:
cleveland_years = pd.read_csv('../data/patchwork/CLE/CLE_2000-2017.csv')
cleveland_2000_boxscore = pd.read_csv('../data/patchwork/CLE/CLE_2000_boxscore.csv')
cleveland_2002_boxscore = pd.read_csv('../data/patchwork/CLE/CLE_2002_boxscore.csv')
cleveland_2007_boxscore = pd.read_csv('../data/patchwork/CLE/CLE_2007_boxscore.csv')
cleveland_2017_boxscore = pd.read_csv('../data/patchwork/CLE/CLE_2017_boxscore.csv')

In [233]:
cleveland_years['date'] = pd.to_datetime(cleveland_years['date'])

In [237]:
cleveland_2000 = cleveland_years[cleveland_years['date'].dt.year == 2000].copy()
cleveland_2002 = cleveland_years[cleveland_years['date'].dt.year == 2002].copy()
cleveland_2007 = cleveland_years[cleveland_years['date'].dt.year == 2007].copy()
cleveland_2017 = cleveland_years[cleveland_years['date'].dt.year == 2017].copy()

In [238]:
single_year_merge(cleveland_2000, cleveland_2000_boxscore)

give team name and year for file name:
cle
2000
saved!

In [239]:
single_year_merge(cleveland_2002, cleveland_2002_boxscore)

give team name and year for file name:
cle
2002
saved!

In [240]:
single_year_merge(cleveland_2007, cleveland_2007_boxscore)

give team name and year for file name:
cle
2007
saved!

In [241]:
single_year_merge(cleveland_2017, cleveland_2017_boxscore)

give team name and year for file name:
cle
2017
saved!

In [242]:
cle_2000 = pd.read_csv('../data/pre_clean_data/CLE/cle_2000.csv')
cle_2002 = pd.read_csv('../data/pre_clean_data/CLE/cle_2002.csv')
cle_2007 = pd.read_csv('../data/pre_clean_data/CLE/cle_2007.csv')
cle_2017 = pd.read_csv('../data/pre_clean_data/CLE/cle_2017.csv')

In [243]:
cle_2000['date'] = pd.to_datetime(cle_2000['date'])
cle_2002['date'] = pd.to_datetime(cle_2002['date'])
cle_2007['date'] = pd.to_datetime(cle_2007['date'])
cle_2017['date'] = pd.to_datetime(cle_2017['date'])

In [244]:
cleveland.shape

(4028, 41)

In [245]:
drop_years(cleveland)

In [246]:
cleveland.shape

(3380, 41)

In [247]:
cleveland_1 = pd.concat([cleveland, cle_2000, cle_2002, cle_2007, cle_2017], sort=False)

In [248]:
cleveland_1.sort_values(by='date', inplace=True)

In [250]:
cleveland_1.to_csv('../data/pre_clean_data/CLE/cleveland_pc.csv', index=False)

### Minnesota

In [251]:
minnesota = pd.read_csv('../data/Scrape_2/twins/MIN_25.csv')
year_check(minnesota)

([2007], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [252]:
minn_years = pd.read_csv('../data/patchwork/MIN/MIN_2007-2007.csv')
minn_2007 = pd.read_csv('../data/patchwork/MIN/MIN_2007_boxscore.csv')

In [253]:
single_year_merge(minn_years, minn_2007)

give team name and year for file name:
min
2007
saved!

In [254]:
minn_07 = pd.read_csv('../data/pre_clean_data/MIN/min_2007.csv')
minn_07

,game#,day,date,team,home_away,opp,win_loss,r,ra,innings,record,divison_rank,games_back,winning_pitcher,losing_pitcher,game_duration,day_night,attendance,streak,saving_pitcher,bat_hits,bat_rbi,bat_walks,bat_strike_outs,hou_plate_app,bat_batting_avg,bat_obp,bat_slg,bat_ops,pitch_opp_hits,pitch_walks,pitch_strike_outs,pitch_opp_hr,pitch_era,pitch_batters_faced,pitch_total_pitches,pitch_combined_strikes,pitch_strikes_contacted,pitch_strikes_swinging,pitch_strikes_looking,pitch_wpa
0,1,Monday,2007-04-02,MIN,NaN,BAL,W,7,4,NaN,1-0,1,Tied,Johan Santana,Erik Bedard,2:56,N,"48,711",+,Joe Nathan,13,6,3,6,38,0.371,0.421,0.657,1.078,8,4,8,1,4.00,38,133,86,51,8,27,0.036
1,2,Tuesday,2007-04-03,MIN,NaN,BAL,W,3,2,NaN,2-0,1,up 0.5,Pat Neshek,Daniel Cabrera,2:38,N,"24,439",++,Joe Nathan,7,2,4,10,33,0.241,0.333,0.241,0.575,5,4,9,1,2.00,38,141,84,47,12,25,0.482
2,3,Wednesday,2007-04-04,MIN,NaN,BAL,W,7,2,NaN,3-0,1,up 0.5,Ramon Ortiz,Jaret Wright,2:34,N,"27,539",+++,NaN,11,7,6,4,41,0.314,0.415,0.400,0.815,6,1,6,0,2.00,35,123,73,48,6,19,0.220
3,4,Saturday,2007-04-07,MIN,@,CHW,L,0,3,NaN,3-1,1,up 0.5,Javier Vazquez,Carlos Silva,2:51,D,"33,278",-,Bobby Jenks,3,0,4,9,33,0.107,0.242,0.143,0.385,8,3,1,1,3.38,34,128,73,52,3,18,0.156
4,5,Sunday,2007-04-08,MIN,@,CHW,W,3,1,NaN,4-1,1,up 1.0,Johan Santana,John Danks,2:36,D,"27,653",+,Joe Nathan,6,3,2,8,35,0.182,0.229,0.273,0.501,4,3,10,1,1.00,34,136,91,54,17,20,0.528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,158,Wednesday,2007-09-26,MIN,@,DET,L,4,9,6.0,77-81,3,17.0,Tim Byrdak,Nick Blackburn,1:47,N,"35,375",--,NaN,6,4,5,0,24,0.316,0.458,0.368,0.827,9,3,6,1,10.80,29,101,68,38,10,20,-0.577
156,159,Thursday,2007-09-27,MIN,@,BOS,W,5,4,NaN,78-81,3,16.0,Boof Bonser,Josh Beckett,3:14,N,"36,743",+,Joe Nathan,12,5,0,10,37,0.333,0.324,0.611,0.935,12,4,6,2,4.00,43,166,104,66,12,26,0.417
157,160,Friday,2007-09-28,MIN,@,BOS,L,2,5,NaN,78-82,3,17.0,Daisuke Matsuzaka,Kevin Slowey,2:33,N,"36,843",-,Jonathan Papelbon,6,2,2,8,33,0.194,0.242,0.355,0.597,8,0,5,1,5.62,33,133,91,57,9,25,-0.110
158,161,Saturday,2007-09-29,MIN,@,BOS,L,4,6,NaN,78-83,3,17.0,Tim Wakefield,Nick Blackburn,2:17,N,"36,619",--,Hideki Okajima,8,4,0,2,33,0.242,0.242,0.424,0.667,13,0,5,2,6.75,36,128,89,56,8,25,-0.403
159,162,Sunday,2007-09-30,MIN,@,BOS,W,3,2,NaN,79-83,3,17.0,Matt Garza,Julian Tavarez,2:47,D,"36,364",+,Joe Nathan,4,3,2,5,33,0.133,0.182,0.200,0.382,8,6,10,1,1.00,39,171,96,57,15,24,0.644

In [256]:
minn_07['date'] = pd.to_datetime(minn_07['date'])

In [258]:
minnesota.shape

(4032, 41)

In [259]:
drop_years(minnesota)

In [260]:
minnesota.shape

(3870, 41)

In [261]:
minnesota_1 = pd.concat([minnesota, minn_07], sort=False)

In [265]:
minnesota_1.sort_values(by = 'date', inplace=True)

In [266]:
year_check(minnesota_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [267]:
minnesota_1.to_csv('../data/pre_clean_data/MIN/minnesota_pc.csv', index=False)

### Chicago White Sox

In [268]:
chicago_ws = pd.read_csv('../data/Scrape_2/white_socks/CHW_25.csv')
year_check(chicago_ws)

([2000, 2015],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [269]:
chicago_ws_years = pd.read_csv('../data/patchwork/CHW/CHW_2000-2015.csv')
chicago_ws_2000_box = pd.read_csv('../data/patchwork/CHW/CHW_2000_boxscore.csv')
chicago_ws_2015_box = pd.read_csv('../data/patchwork/CHW/CHW_2015_boxscore.csv')

In [270]:
chicago_ws_years['date'] = pd.to_datetime(chicago_ws_years['date'])

In [272]:
chicago_ws_2000 = chicago_ws_years[chicago_ws_years['date'].dt.year == 2000].copy()
chicago_ws_2015 = chicago_ws_years[chicago_ws_years['date'].dt.year == 2015].copy()

In [273]:
single_year_merge(chicago_ws_2000, chicago_ws_2000_box)

give team name and year for file name:
chw
2000
saved!

In [274]:
single_year_merge(chicago_ws_2015, chicago_ws_2015_box)

give team name and year for file name:
chw
2015
saved!

In [275]:
chicago_ws.shape

(4033, 41)

In [276]:
drop_years(chicago_ws)

In [277]:
chicago_ws.shape

(3709, 41)

In [279]:
chw_2000 = pd.read_csv('../data/pre_clean_data/CHW/chw_2000.csv')
chw_2015 = pd.read_csv('../data/pre_clean_data/CHW/chw_2015.csv')

In [280]:
chw_2000['date'] = pd.to_datetime(chw_2000['date'])
chw_2015['date'] = pd.to_datetime(chw_2015['date'])

In [281]:
chicago_ws_1 = pd.concat([chicago_ws, chw_2000, chw_2015], sort=False)

In [284]:
chicago_ws_1.sort_values(by = 'date', inplace=True)

In [285]:
year_check(chicago_ws_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [286]:
chicago_ws_1.shape

(4028, 41)

In [287]:
chicago_ws_1.to_csv('../data/pre_clean_data/CHW/chicago_white_sox_pc.csv', index=False)

### Kansas City Royals

In [288]:
kansas_city = pd.read_csv('../data/Scrape_2/royals/KCR_25.csv')
year_check(kansas_city)

([1999, 2007, 2013],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [289]:
kansas_city_years = pd.read_csv('../data/patchwork/KCR/KCR_1999-2013.csv')
kansas_city_1999_box = pd.read_csv('../data/patchwork/KCR/KCR_1999_boxscore.csv')
kansas_city_2007_box = pd.read_csv('../data/patchwork/KCR/KCR_2007_boxscore.csv')
kansas_city_2013_box = pd.read_csv('../data/patchwork/KCR/KCR_2013_boxscore.csv')

In [290]:
kansas_city_years['date'] = pd.to_datetime(kansas_city_years['date'])

In [292]:
kansas_city_1999 = kansas_city_years[kansas_city_years['date'].dt.year == 1999].copy()
kansas_city_2007 = kansas_city_years[kansas_city_years['date'].dt.year == 2007].copy()
kansas_city_2013 = kansas_city_years[kansas_city_years['date'].dt.year == 2013].copy()

In [293]:
single_year_merge(kansas_city_1999, kansas_city_1999_box)

give team name and year for file name:
kcr
1999
saved!

In [294]:
single_year_merge(kansas_city_2007, kansas_city_2007_box)

give team name and year for file name:
kcr
2007
saved!

In [295]:
single_year_merge(kansas_city_2013, kansas_city_2013_box)

give team name and year for file name:
kcr
2013
saved!

In [296]:
kansas_city.shape

(4028, 41)

In [297]:
drop_years(kansas_city)

In [298]:
kansas_city.shape

(3543, 41)

In [299]:
kansas_city.dtypes

game#                               int64
day                                object
date                       datetime64[ns]
team                               object
home_away                          object
                                ...
pitch_strikes_contacted           float64
pitch_strikes_swinging            float64
pitch_strikes_looking             float64
pitch_wpa                         float64
saving_pitcher                     object
Length: 41, dtype: object

In [300]:
kcr_1999 = pd.read_csv('../data/pre_clean_data/KCR/kcr_1999.csv')
kcr_2007 = pd.read_csv('../data/pre_clean_data/KCR/kcr_2007.csv')
kcr_2013 = pd.read_csv('../data/pre_clean_data/KCR/kcr_2013.csv')

In [301]:
kcr_1999['date'] = pd.to_datetime(kcr_1999['date'])
kcr_2007['date'] = pd.to_datetime(kcr_2007['date'])
kcr_2013['date'] = pd.to_datetime(kcr_2013['date'])

In [302]:
kansas_city_1 = pd.concat([kansas_city, kcr_1999, kcr_2007, kcr_2013], sort=False)

In [305]:
kansas_city_1.sort_values(by='date', inplace=True)

In [306]:
year_check(kansas_city_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [307]:
kansas_city_1.to_csv('../data/pre_clean_data/KCR/kansas_city_pc.csv', index=False)

### Detroit

In [308]:
detroit = pd.read_csv('../data/Scrape_2/tigers/DET_25.csv')
year_check(detroit)

([1996, 1998],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [310]:
detroit_years = pd.read_csv('../data/patchwork/DET/DET_1996-1998.csv')
detroit_1996_box = pd.read_csv('../data/patchwork/DET/DET_1996_boxscore.csv')
detroit_1998_box = pd.read_csv('../data/patchwork/DET/DET_1998_boxscore.csv')

In [311]:
detroit_years['date'] = pd.to_datetime(detroit_years['date'])

In [315]:
detroit_1996 = detroit_years[detroit_years['date'].dt.year == 1996].copy()
detroit_1998 = detroit_years[detroit_years['date'].dt.year == 1998].copy()

In [316]:
single_year_merge(detroit_1996, detroit_1996_box)

give team name and year for file name:
det
1996
saved!

In [317]:
single_year_merge(detroit_1998, detroit_1998_box)

give team name and year for file name:
det
1998
saved!

In [318]:
detroit.shape

(4028, 41)

In [319]:
drop_years(detroit)

In [320]:
detroit.shape

(3704, 41)

In [322]:
det_96 = pd.read_csv('../data/pre_clean_data/DET/det_1996.csv')
det_98 = pd.read_csv('../data/pre_clean_data/DET/det_1998.csv')

In [323]:
det_96['date'] = pd.to_datetime(det_96['date'])
det_98['date'] = pd.to_datetime(det_98['date'])

In [324]:
detroit_1 = pd.concat([detroit, det_96, det_98], sort=False)

In [328]:
detroit_1.sort_values(by='date', inplace=True)

In [329]:
year_check(detroit_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [330]:
detroit_1.to_csv('../data/pre_clean_data/DET/detroit_pc.csv', index=False)

### Boston

In [331]:
boston = pd.read_csv('../data/Scrape_2/red_socks/BOS_25.csv')
year_check(boston)

([2013], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [332]:
boston_2013 = pd.read_csv('../data/patchwork/BOS/BOS_2013-2013.csv')
boston_2013_box = pd.read_csv('../data/patchwork/BOS/BOS_2013_boxscore.csv')

In [333]:
single_year_merge(boston_2013, boston_2013_box)

give team name and year for file name:
bos
2013
saved!

In [334]:
boston.shape

(4031, 41)

In [335]:
drop_years(boston)

In [336]:
boston.shape

(3869, 41)

In [337]:
bos_2013 = pd.read_csv('../data/pre_clean_data/BOS/bos_2013.csv')

In [338]:
bos_2013['date'] = pd.to_datetime(bos_2013['date'])

In [339]:
boston_1 = pd.concat([boston, bos_2013], sort=False)

In [342]:
boston_1.sort_values(by = 'date', inplace=True)

In [343]:
year_check(boston_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [344]:
boston_1.to_csv('../data/pre_clean_data/BOS/boston_pc.csv', index=False)

### NYY

In [345]:
new_york = pd.read_csv('../data/Scrape_2/yankees/NYY_20.csv')
year_check(new_york)

([1995, 1996, 1997, 1998, 1999],
 Timestamp('2000-04-03 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [346]:
new_york_years = pd.read_csv('../data/patchwork/NYY/NYY_1995-1999.csv')
new_york_95_box = pd.read_csv('../data/patchwork/NYY/NYY_1995_boxscore.csv')
new_york_96_box = pd.read_csv('../data/patchwork/NYY/NYY_1996_boxscore.csv')
new_york_97_box = pd.read_csv('../data/patchwork/NYY/NYY_1997_boxscore.csv')
new_york_98_box = pd.read_csv('../data/patchwork/NYY/NYY_1998_boxscore.csv')
new_york_99_box = pd.read_csv('../data/patchwork/NYY/NYY_1999_boxscore.csv')

In [347]:
new_york_years['date'] = pd.to_datetime(new_york_years['date'])

In [351]:
new_york_95 = new_york_years[new_york_years['date'].dt.year == 1995].copy()
new_york_96 = new_york_years[new_york_years['date'].dt.year == 1996].copy()
new_york_97 = new_york_years[new_york_years['date'].dt.year == 1997].copy()
new_york_98 = new_york_years[new_york_years['date'].dt.year == 1998].copy()
new_york_99 = new_york_years[new_york_years['date'].dt.year == 1999].copy()

In [352]:
single_year_merge(new_york_95, new_york_95_box)

give team name and year for file name:
nyy
1995
saved!

In [353]:
single_year_merge(new_york_96, new_york_96_box)

give team name and year for file name:
nyy
1996
saved!

In [354]:
single_year_merge(new_york_97, new_york_97_box)

give team name and year for file name:
nyy
1997
saved!

In [355]:
single_year_merge(new_york_98, new_york_98_box)

give team name and year for file name:
nyy
1998
saved!

In [356]:
single_year_merge(new_york_99, new_york_99_box)

give team name and year for file name:
nyy
1999
saved!

In [357]:
new_york.shape

(3238, 41)

In [359]:
new_york.dtypes

game#                               int64
day                                object
date                       datetime64[ns]
team                               object
home_away                          object
                                ...
pitch_combined_strikes              int64
pitch_strikes_contacted             int64
pitch_strikes_swinging              int64
pitch_strikes_looking               int64
pitch_wpa                         float64
Length: 41, dtype: object

In [360]:
nyy_95 = pd.read_csv('../data/pre_clean_data/NYY/nyy_1995.csv')
nyy_96 = pd.read_csv('../data/pre_clean_data/NYY/nyy_1996.csv')
nyy_97 = pd.read_csv('../data/pre_clean_data/NYY/nyy_1997.csv')
nyy_98 = pd.read_csv('../data/pre_clean_data/NYY/nyy_1998.csv')
nyy_99 = pd.read_csv('../data/pre_clean_data/NYY/nyy_1999.csv')

In [362]:
nyy_95['date'] = pd.to_datetime(nyy_95['date'])
nyy_96['date'] = pd.to_datetime(nyy_96['date'])
nyy_97['date'] = pd.to_datetime(nyy_97['date'])
nyy_98['date'] = pd.to_datetime(nyy_98['date'])
nyy_99['date'] = pd.to_datetime(nyy_99['date'])

In [363]:
new_york_1 = pd.concat([new_york, nyy_95, nyy_96, nyy_97, nyy_98, nyy_99], sort = False)

In [366]:
new_york_1.sort_values(by = 'date', inplace=True)

In [367]:
year_check(new_york_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [368]:
new_york_1.shape

(4011, 41)

In [369]:
new_york_1.to_csv('../data/pre_clean_data/new_york_pc.csv', index=False)

### Toronto

In [370]:
toronto = pd.read_csv('../data/Scrape_2/blue_jays/TOR_25.csv')
year_check(toronto)

([1996, 2010],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [371]:
toronto_years = pd.read_csv('../data/patchwork/TOR/TOR_1996-2010.csv')
toronto_1996_box = pd.read_csv('../data/patchwork/TOR/TOR_1996_boxscore.csv')
toronto_2010_box = pd.read_csv('../data/patchwork/TOR/TOR_2010_boxscore.csv')

In [372]:
toronto_years['date'] = pd.to_datetime(toronto_years['date'])

In [375]:
toronto_1996 = toronto_years[toronto_years['date'].dt.year == 1996].copy()
toronto_2010 = toronto_years[toronto_years['date'].dt.year == 2010].copy()

In [376]:
single_year_merge(toronto_1996, toronto_1996_box)

give team name and year for file name:
tor
1996
saved!

In [377]:
single_year_merge(toronto_2010, toronto_2010_box)

give team name and year for file name:
tor
2010
saved!

In [379]:
drop_years(toronto)

In [381]:
tor_1996 = pd.read_csv('../data/pre_clean_data/TOR/tor_1996.csv')
tor_2010 = pd.read_csv('../data/pre_clean_data/TOR/tor_2010.csv')

In [382]:
tor_1996['date'] = pd.to_datetime(tor_1996['date'])
tor_2010['date'] = pd.to_datetime(tor_2010['date'])

In [383]:
toronto_1 = pd.concat([toronto, tor_1996, tor_2010], sort=False)

In [386]:
toronto_1.sort_values(by='date', inplace=True)

In [387]:
year_check(toronto_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [388]:
toronto_1.to_csv('../data/pre_clean_data/TOR/toronto_pc.csv', index=False)

### Baltimore

In [389]:
baltimore = pd.read_csv('../data/Scrape_2/orioles/BAL_25.csv')
year_check(baltimore)

([2001, 2015],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [390]:
baltimore_years = pd.read_csv('../data/patchwork/BAL/BAL_2001-2015.csv')
baltimore_2001_box = pd.read_csv('../data/patchwork/BAL/BAL_2001_boxscore.csv')
baltimore_2015_box = pd.read_csv('../data/patchwork/BAL/BAL_2015_boxscore.csv')

In [391]:
baltimore_years['date'] = pd.to_datetime(baltimore_years['date'])

In [393]:
baltimore_2001 = baltimore_years[baltimore_years['date'].dt.year == 2001].copy()
baltimore_2015 = baltimore_years[baltimore_years['date'].dt.year == 2015].copy()

In [394]:
single_year_merge(baltimore_2001, baltimore_2001_box)

give team name and year for file name:
bal
2001
saved!

In [395]:
single_year_merge(baltimore_2015, baltimore_2015_box)

give team name and year for file name:
bal
2015
saved!

In [396]:
baltimore.shape

(4033, 41)

In [399]:
drop_years(baltimore)

In [400]:
baltimore.shape

(3709, 41)

In [401]:
bal_2001 = pd.read_csv('../data/pre_clean_data/BAL/bal_2001.csv')
bal_2015 = pd.read_csv('../data/pre_clean_data/BAL/bal_2015.csv')

In [402]:
bal_2001['date'] = pd.to_datetime(bal_2001['date'])
bal_2015['date'] = pd.to_datetime(bal_2015['date'])

In [403]:
baltimore_1 = pd.concat([baltimore, bal_2001, bal_2015], sort=False)

In [406]:
baltimore_1.sort_values(by ='date', inplace=True)

In [407]:
year_check(baltimore_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [408]:
baltimore_1.to_csv('../data/pre_clean_data/BAL/baltimore_pc.csv', index=False)

### Tampa Bay

In [410]:
devil_rays = pd.read_csv('../data/Scrape_2/rays/TBD_final.csv')
rays = pd.read_csv('../data/Scrape_2/rays/TBR_final.csv')

In [415]:
tampa_bay = pd.concat([devil_rays, rays], sort=False)

In [417]:
year_check(tampa_bay)

([1995, 1996, 1997, 2015],
 Timestamp('1998-03-31 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [418]:
tampa_bay_2015 = pd.read_csv('../data/patchwork/TBR/TBR_2015-2015.csv')
tampa_bay_2015_box = pd.read_csv('../data/patchwork/TBR/TBR_2015_boxscore.csv')

In [419]:
single_year_merge(tampa_bay_2015, tampa_bay_2015_box)

give team name and year for file name:
tbr
2015
saved!

In [421]:
tampa_bay.shape

(3562, 41)

In [422]:
drop_years(tampa_bay)

In [424]:
tampa_bay.isna().sum()

game#                         0
day                           0
date                          0
team                          0
home_away                  1699
                           ...
pitch_strikes_contacted       0
pitch_strikes_swinging        0
pitch_strikes_looking         0
pitch_wpa                     0
saving_pitcher             1681
Length: 41, dtype: int64

In [425]:
tbr_2015 = pd.read_csv('../data/pre_clean_data/TBR/tbr_2015.csv')

In [426]:
tbr_2015['date'] = pd.to_datetime(tbr_2015['date'])

In [427]:
tampa_bay_1 = pd.concat([tampa_bay, tbr_2015], sort=False)

In [430]:
tampa_bay_1.sort_values(by = 'date', inplace=True)

In [433]:
tampa_bay_1['team'] = 'TBR'

In [435]:
tampa_bay_1.to_csv('../data/pre_clean_data/TBR/tampa_bay_pc.csv', index=False)

### Los Angeles Dodgers

In [445]:
pd.options.display.max_rows

60

In [436]:
dodgers = pd.read_csv('../data/Scrape_2/dodgers/LAD_25.csv')
year_check(dodgers)

([], Timestamp('1995-04-25 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [446]:
dodgers.isna().sum()

game#                         0
day                           0
date                          0
team                          0
home_away                  2017
opp                           0
win_loss                      0
r                             0
ra                            0
innings                    3669
record                        0
divison_rank                  0
games_back                    0
winning_pitcher               0
losing_pitcher                0
game_duration                 0
day_night                     0
attendance                    9
streak                        0
saving_pitcher             1912
bat_hits                      0
bat_rbi                       0
bat_walks                     0
bat_strike_outs               0
hou_plate_app                 0
bat_batting_avg               0
bat_obp                       0
bat_slg                       0
bat_ops                       0
pitch_opp_hits                0
pitch_walks                   0
pitch_strike_outs             0
pitch_opp_hr                  0
pitch_era                     0
pitch_batters_faced           0
pitch_total_pitches          56
pitch_combined_strikes       56
pitch_strikes_contacted      56
pitch_strikes_swinging       56
pitch_strikes_looking        56
pitch_wpa                     0
dtype: int64

In [448]:
dodgers.to_csv('../data/pre_clean_data/LAD/dodgers_pc.csv', index=False)

### San Francisco

In [449]:
san_francisco = pd.read_csv('../data/Scrape_2/giants/SFG_20.csv')
year_check(san_francisco)

([2002, 2015, 2016, 2017, 2018, 2019],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2014-09-28 00:00:00'))

In [450]:
sf_years = pd.read_csv('../data/patchwork/SFG/SFG_2002-2019.csv')
sf_2002_box = pd.read_csv('../data/patchwork/SFG/SFG_2002_boxscore.csv')
sf_2015_box = pd.read_csv('../data/patchwork/SFG/SFG_2015_boxscore.csv')
sf_2016_box = pd.read_csv('../data/patchwork/SFG/SFG_2016_boxscore.csv')
sf_2017_box = pd.read_csv('../data/patchwork/SFG/SFG_2017_boxscore.csv')
sf_2018_box = pd.read_csv('../data/patchwork/SFG/SFG_2018_boxscore.csv')
sf_2019_box = pd.read_csv('../data/patchwork/SFG/SFG_2019_boxscore.csv')

In [451]:
sf_years['date'] = pd.to_datetime(sf_years['date'])

In [455]:
sf_2002 = sf_years[sf_years['date'].dt.year == 2002].copy()
sf_2015 = sf_years[sf_years['date'].dt.year == 2015].copy()
sf_2016 = sf_years[sf_years['date'].dt.year == 2016].copy()
sf_2017 = sf_years[sf_years['date'].dt.year == 2017].copy()
sf_2018 = sf_years[sf_years['date'].dt.year == 2018].copy()
sf_2019 = sf_years[sf_years['date'].dt.year == 2019].copy()

In [469]:
sf_2002_box.shape

(162, 24)

In [470]:
sf_2002.shape

(162, 21)

In [456]:
single_year_merge(sf_2002, sf_2002_box)

give team name and year for file name:
sfg
2002
saved!

In [457]:
single_year_merge(sf_2015, sf_2015_box)

give team name and year for file name:
sfg
2015
saved!

In [458]:
single_year_merge(sf_2016, sf_2016_box)

give team name and year for file name:
sfg
2016
saved!

In [459]:
single_year_merge(sf_2017, sf_2017_box)

give team name and year for file name:
sfg
2017
saved!

In [460]:
single_year_merge(sf_2018, sf_2018_box)

give team name and year for file name:
sfg
2018
saved!

In [461]:
single_year_merge(sf_2019, sf_2019_box)

give team name and year for file name:
sfg
2019
saved!

In [463]:
drop_years(san_francisco)

In [465]:
san_francisco.dtypes

game#                               int64
day                                object
date                       datetime64[ns]
team                               object
home_away                          object
opp                                object
win_loss                           object
r                                 float64
ra                                float64
innings                           float64
record                             object
divison_rank                      float64
games_back                         object
winning_pitcher                    object
losing_pitcher                     object
game_duration                      object
day_night                          object
attendance                         object
streak                             object
bat_hits                          float64
bat_rbi                           float64
bat_walks                         float64
bat_strike_outs                   float64
hou_plate_app                     float64
bat_batting_avg                   float64
bat_obp                           float64
bat_slg                           float64
bat_ops                           float64
pitch_opp_hits                    float64
pitch_walks                       float64
pitch_strike_outs                 float64
pitch_opp_hr                      float64
pitch_era                         float64
pitch_batters_faced               float64
pitch_total_pitches               float64
pitch_combined_strikes            float64
pitch_strikes_contacted           float64
pitch_strikes_swinging            float64
pitch_strikes_looking             float64
pitch_wpa                         float64
saving_pitcher                     object
dtype: object

In [466]:
sfg_2002 = pd.read_csv('../data/pre_clean_data/SFG/sfg_2002.csv')
sfg_2015 = pd.read_csv('../data/pre_clean_data/SFG/sfg_2015.csv')
sfg_2016 = pd.read_csv('../data/pre_clean_data/SFG/sfg_2016.csv')
sfg_2017 = pd.read_csv('../data/pre_clean_data/SFG/sfg_2017.csv')
sfg_2018 = pd.read_csv('../data/pre_clean_data/SFG/sfg_2018.csv')
sfg_2019 = pd.read_csv('../data/pre_clean_data/SFG/sfg_2019.csv')

In [473]:
sfg_2002['date'] = pd.to_datetime(sfg_2002['date'])
sfg_2015['date'] = pd.to_datetime(sfg_2015['date'])
sfg_2016['date'] = pd.to_datetime(sfg_2016['date'])
sfg_2017['date'] = pd.to_datetime(sfg_2017['date'])
sfg_2018['date'] = pd.to_datetime(sfg_2018['date'])
sfg_2019['date'] = pd.to_datetime(sfg_2019['date'])

In [474]:
san_francisco_1 = pd.concat([san_francisco, sfg_2002, sfg_2015, sfg_2016, sfg_2017, sfg_2018, sfg_2019], sort = False)

In [477]:
san_francisco_1.sort_values(by = 'date', inplace=True)

In [478]:
year_check(san_francisco_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [479]:
san_francisco_1.to_csv('../data/pre_clean_data/SFG/san_francisco_pc.csv', index=False)

### Colorado

In [480]:
colorado = pd.read_csv('../data/Scrape_2/rockies/COL_25.csv')
year_check(colorado)

([1999], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [481]:
colorado_1999 = pd.read_csv('../data/patchwork/COL/COL_1999-1999.csv')
colorado_1999_box = pd.read_csv('../data/patchwork/COL/COL_1999_boxscore.csv')

In [482]:
single_year_merge(colorado_1999, colorado_1999_box)

give team name and year for file name:
col
1999
saved!

In [484]:
drop_years(colorado)

In [486]:
col_99 = pd.read_csv('../data/pre_clean_data/COL/col_1999.csv')

In [487]:
col_99['date'] = pd.to_datetime(col_99['date'])

In [488]:
colorado_1 = pd.concat([colorado, col_99], sort=False)

In [491]:
colorado_1.sort_values(by='date', inplace=True)

In [492]:
year_check(colorado_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [493]:
colorado_1.shape

(4029, 41)

In [494]:
colorado_1.to_csv('../data/pre_clean_data/COL/colorado_pc.csv', index=False)

### San Diego Padres

In [495]:
san_diego = pd.read_csv('../data/Scrape_2/padres/SDP_25.csv')
year_check(san_diego)

([1998, 2001, 2002],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [496]:
san_diego_years = pd.read_csv('../data/patchwork/SDP/SDP_1998-2002.csv')
san_diego_1998_box = pd.read_csv('../data/patchwork/SDP/SDP_1998_boxscore.csv')
san_diego_2001_box = pd.read_csv('../data/patchwork/SDP/SDP_2001_boxscore.csv')
san_diego_2002_box = pd.read_csv('../data/patchwork/SDP/SDP_2002_boxscore.csv')

In [497]:
san_diego_years['date'] = pd.to_datetime(san_diego_years['date'])

In [501]:
san_diego_1998 = san_diego_years[san_diego_years['date'].dt.year == 1998].copy()
san_diego_2001 = san_diego_years[san_diego_years['date'].dt.year == 2001].copy()
san_diego_2002 = san_diego_years[san_diego_years['date'].dt.year == 2002].copy()

In [502]:
single_year_merge(san_diego_1998, san_diego_1998_box)

give team name and year for file name:
sdp
1998
saved!

In [503]:
single_year_merge(san_diego_2001, san_diego_2001_box)

give team name and year for file name:
sdp
2001
saved!

In [504]:
single_year_merge(san_diego_2002, san_diego_2002_box)

give team name and year for file name:
sdp
2002
saved!

In [507]:
san_diego.shape

(4033, 41)

In [508]:
drop_years(san_diego)

In [509]:
san_diego.shape

(3547, 41)

In [510]:
sdp_1998 = pd.read_csv('../data/pre_clean_data/SDP/sdp_1998.csv')
sdp_2001 = pd.read_csv('../data/pre_clean_data/SDP/sdp_2001.csv')
sdp_2002 = pd.read_csv('../data/pre_clean_data/SDP/sdp_2002.csv')

In [511]:
sdp_1998['date'] = pd.to_datetime(sdp_1998['date'])
sdp_2001['date'] = pd.to_datetime(sdp_2001['date'])
sdp_2002['date'] = pd.to_datetime(sdp_2002['date'])

In [512]:
san_diego_1 = pd.concat([san_diego, sdp_1998, sdp_2001, sdp_2002], sort=False)

In [515]:
san_diego_1.sort_values(by = 'date', inplace=True)

In [516]:
year_check(san_diego_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [517]:
san_diego_1.to_csv('../data/pre_clean_data/SDP/san_diego_pc.csv', index=False)

### Arizona

In [518]:
arizona = pd.read_csv('../data/Scrape_2/diamondbacks/ARI_20.csv')
year_check(arizona)

([1995, 1996, 1997, 2001, 2012, 2018, 2019],
 Timestamp('1998-03-31 00:00:00'),
 Timestamp('2017-10-01 00:00:00'))

In [519]:
arizona_years = pd.read_csv('../data/patchwork/ARI/ARI_2001-2019.csv')
arizona_2001_box = pd.read_csv('../data/patchwork/ARI/ARI_2001_boxscore.csv')
arizona_2012_box = pd.read_csv('../data/patchwork/ARI/ARI_2012_boxscore.csv')
arizona_2018_box = pd.read_csv('../data/patchwork/ARI/ARI_2018_boxscore.csv')
arizona_2019_box = pd.read_csv('../data/patchwork/ARI/ARI_2019_boxscore.csv')

In [520]:
arizona_years['date'] = pd.to_datetime(arizona_years['date'])

In [523]:
arizona_2001 = arizona_years[arizona_years['date'].dt.year == 2001].copy()
arizona_2012 = arizona_years[arizona_years['date'].dt.year == 2012].copy()
arizona_2018 = arizona_years[arizona_years['date'].dt.year == 2018].copy()
arizona_2019 = arizona_years[arizona_years['date'].dt.year == 2019].copy()

In [524]:
single_year_merge(arizona_2001, arizona_2001_box)

give team name and year for file name:
ari
2001
saved!

In [525]:
single_year_merge(arizona_2012, arizona_2012_box)

give team name and year for file name:
ari
2012
saved!

In [526]:
single_year_merge(arizona_2018, arizona_2018_box)

give team name and year for file name:
ari
2018
saved!

In [527]:
single_year_merge(arizona_2019, arizona_2019_box)

give team name and year for file name:
ari
2019
saved!

In [529]:
drop_years(arizona)

In [531]:
ari_2001 = pd.read_csv('../data/pre_clean_data/ARI/ari_2001.csv')
ari_2012 = pd.read_csv('../data/pre_clean_data/ARI/ari_2012.csv')
ari_2018 = pd.read_csv('../data/pre_clean_data/ARI/ari_2018.csv')
ari_2019 = pd.read_csv('../data/pre_clean_data/ARI/ari_2019.csv')

In [532]:
ari_2001['date'] = pd.to_datetime(ari_2001['date'])
ari_2012['date'] = pd.to_datetime(ari_2012['date'])
ari_2018['date'] = pd.to_datetime(ari_2018['date'])
ari_2019['date'] = pd.to_datetime(ari_2019['date'])

In [533]:
arizona_1 = pd.concat([arizona, ari_2001, ari_2012, ari_2018, ari_2019], sort=False)

In [536]:
arizona_1.sort_values(by = 'date', inplace=True)

In [537]:
year_check(arizona_1)

([1995, 1996, 1997],
 Timestamp('1998-03-31 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [538]:
arizona_1.to_csv('../data/pre_clean_data/ARI/arizona_pc.csv', index=False)

### Mets

In [539]:
mets = pd.read_csv('../data/Scrape_2/mets/NYM_25.csv')
year_check(mets)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [541]:
mets.shape

(4031, 41)

In [542]:
mets.to_csv('../data/pre_clean_data/NYM/mets_pc.csv', index=False)

### Philadelphia

In [543]:
philadelphia = pd.read_csv('../data/Scrape_2/phillies/PHI_25.csv')
year_check(philadelphia)

([2009, 2010],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [545]:
philadelphia_years = pd.read_csv('../data/patchwork/PHI/PHI_2009-2010.csv')
philly_2009_box = pd.read_csv('../data/patchwork/PHI/PHI_2009_boxscore.csv')
philly_2010_box = pd.read_csv('../data/patchwork/PHI/PHI_2010_boxscore.csv')

In [546]:
philadelphia_years['date'] = pd.to_datetime(philadelphia_years['date'])

In [550]:
philly_2009 = philadelphia_years[philadelphia_years['date'].dt.year == 2009].copy()
philly_2010 = philadelphia_years[philadelphia_years['date'].dt.year == 2010].copy()

In [551]:
single_year_merge(philly_2009, philly_2009_box)

give team name and year for file name:
phi
2009
saved!

In [552]:
single_year_merge(philly_2010, philly_2010_box)

give team name and year for file name:
phi
2010
saved!

In [554]:
drop_years(philadelphia)

In [555]:
phi_2009 = pd.read_csv('../data/pre_clean_data/PHI/phi_2009.csv')
phi_2010 = pd.read_csv('../data/pre_clean_data/PHI/phi_2010.csv')

In [556]:
philadelphia.dtypes

game#                               int64
day                                object
date                       datetime64[ns]
team                               object
home_away                          object
opp                                object
win_loss                           object
r                                 float64
ra                                float64
innings                           float64
record                             object
divison_rank                      float64
games_back                         object
winning_pitcher                    object
losing_pitcher                     object
game_duration                      object
day_night                          object
attendance                         object
streak                             object
bat_hits                          float64
bat_rbi                           float64
bat_walks                         float64
bat_strike_outs                   float64
hou_plate_app                     float64
bat_batting_avg                   float64
bat_obp                           float64
bat_slg                           float64
bat_ops                           float64
pitch_opp_hits                    float64
pitch_walks                       float64
pitch_strike_outs                 float64
pitch_opp_hr                      float64
pitch_era                         float64
pitch_batters_faced               float64
pitch_total_pitches               float64
pitch_combined_strikes            float64
pitch_strikes_contacted           float64
pitch_strikes_swinging            float64
pitch_strikes_looking             float64
pitch_wpa                         float64
saving_pitcher                     object
dtype: object

In [557]:
phi_2009['date'] = pd.to_datetime(phi_2009['date'])
phi_2010['date'] = pd.to_datetime(phi_2010['date'])

In [558]:
philadelphia_1 = pd.concat([philadelphia, phi_2009, phi_2010], sort = False)

In [561]:
philadelphia_1.sort_values(by = 'date', inplace=True)

In [562]:
year_check(philadelphia_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [563]:
philadelphia_1.to_csv('../data/pre_clean_data/PHI/philadelphia_pc.csv', index=False)

### Nationals

In [564]:
montreal = pd.read_csv('../data/Scrape_2/nationals/MON_final.csv')
nationals = pd.read_csv('../data/Scrape_2/nationals/WSN_final.csv')

In [566]:
year_check(montreal)

([1996,
  1999,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2003-09-28 00:00:00'))

In [567]:
year_check(nationals)

([1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2013],
 Timestamp('2005-04-04 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [571]:
washington = pd.concat([montreal, nationals], sort=False)

In [574]:
year_check(washington)

([1996, 1999, 2004, 2013],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [575]:
wash_2013 = pd.read_csv('../data/patchwork/WSN/WSN_2013-2013.csv')
wash_2013_box = pd.read_csv('../data/patchwork/WSN/WSN_2013_boxscore.csv')
mon_years = pd.read_csv('../data/patchwork/MON/MON_1996-2004.csv')
mon_1996_box = pd.read_csv('../data/patchwork/MON/MON_1996_boxscore.csv')
mon_1999_box = pd.read_csv('../data/patchwork/MON/MON_1999_boxscore.csv')
mon_2004_box = pd.read_csv('../data/patchwork/MON/MON_2004_boxscore.csv')

In [577]:
mon_years['date'] = pd.to_datetime(mon_years['date'])

In [583]:
mon_1996 = mon_years[mon_years['date'].dt.year == 1996].copy()
mon_1999 = mon_years[mon_years['date'].dt.year == 1999].copy()
mon_2004 = mon_years[mon_years['date'].dt.year == 2004].copy()

In [580]:
single_year_merge(wash_2013, wash_2013_box)

give team name and year for file name:
wsn
2013
saved!

In [584]:
single_year_merge(mon_1996, mon_1996_box)

give team name and year for file name:
mon
1996
saved!

In [585]:
single_year_merge(mon_1999, mon_1999_box)

give team name and year for file name:
mon
1999
saved!

In [586]:
single_year_merge(mon_2004, mon_2004_box)

give team name and year for file name:
mon
2004
saved!

In [587]:
nats_1996 = pd.read_csv('../data/pre_clean_data/MON/mon_1996.csv')
nats_1999 = pd.read_csv('../data/pre_clean_data/MON/mon_1999.csv')
nats_2004 = pd.read_csv('../data/pre_clean_data/MON/mon_2004.csv')
nats_2013 = pd.read_csv('../data/pre_clean_data/WSN/wsn_2013.csv')

In [588]:
nats_1996['date'] = pd.to_datetime(nats_1996['date'])
nats_1999['date'] = pd.to_datetime(nats_1999['date'])
nats_2004['date'] = pd.to_datetime(nats_2004['date'])
nats_2013['date'] = pd.to_datetime(nats_2013['date'])

In [589]:
washington_1 = pd.concat([washington, nats_1996, nats_1999, nats_2004, nats_2013], sort=False)

In [592]:
drop_years(washington_1)

In [595]:
washington_1.sort_values(by = 'date', inplace=True)

In [596]:
washington_1['team'] = 'WSN'

In [598]:
year_check(washington_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [599]:
washington_1.to_csv('../data/pre_clean_data/WSN/washington_pc.csv', index=False)

### Miami

In [630]:
miami = pd.read_csv('../data/Scrape_2/marlins/MIA_final.csv')
florida = pd.read_csv('../data/Scrape_2/marlins/FLA_final.csv')

In [631]:
miami['date'] = pd.to_datetime(miami['date'])
florida['date'] = pd.to_datetime(florida['date'])

In [633]:
marlins = pd.concat([florida, miami], sort = False)

In [634]:
year_check(marlins)

([1998, 2004, 2009, 2011, 2012],
 Timestamp('1995-04-25 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [635]:
drop_years(marlins)

In [636]:
marlins.shape

(3217, 41)

In [637]:
miami_2012 = pd.read_csv('../data/patchwork/FLA/MIA_2012-2012.csv')
miami_2012_box = pd.read_csv('../data/patchwork/FLA/MIA_2012_boxscore.csv')
florida_years = pd.read_csv('../data/patchwork/FLA/FLA_1998-2011.csv')
florida_1998_box = pd.read_csv('../data/patchwork/FLA/FLA_1998_boxscore.csv')
florida_2004_box = pd.read_csv('../data/patchwork/FLA/FLA_2004_boxscore.csv')
florida_2009_box = pd.read_csv('../data/patchwork/FLA/FLA_2009_boxscore.csv')
florida_2011_box = pd.read_csv('../data/patchwork/FLA/FLA_2011_boxscore.csv')

In [638]:
florida_years['date'] = pd.to_datetime(florida_years['date'])

In [639]:
florida_1998 = florida_years[florida_years['date'].dt.year == 1998].copy()
florida_2004 = florida_years[florida_years['date'].dt.year == 2004].copy()
florida_2009 = florida_years[florida_years['date'].dt.year == 2009].copy()
florida_2011 = florida_years[florida_years['date'].dt.year == 2011].copy()

In [616]:
single_year_merge(miami_2012, miami_2012_box)

give team name and year for file name:
mia
2012
saved!

In [619]:
single_year_merge(florida_1998, florida_1998_box)

give team name and year for file name:
mia
1998
saved!

In [620]:
single_year_merge(florida_2004, florida_2004_box)

give team name and year for file name:
mia
2004
saved!

In [640]:
single_year_merge(florida_2009, florida_2009_box)

give team name and year for file name:
mia
2009
saved!

In [621]:
single_year_merge(florida_2011, florida_2011_box)

give team name and year for file name:
mia
2011
saved!

In [641]:
mia_1998 = pd.read_csv('../data/pre_clean_data/MIA/mia_1998.csv')
mia_2004 = pd.read_csv('../data/pre_clean_data/MIA/mia_2004.csv')
mia_2009 = pd.read_csv('../data/pre_clean_data/MIA/mia_2009.csv')
mia_2011 = pd.read_csv('../data/pre_clean_data/MIA/mia_2011.csv')
mia_2012 = pd.read_csv('../data/pre_clean_data/MIA/mia_2012.csv')

In [642]:
mia_1998['date'] = pd.to_datetime(mia_1998['date'])
mia_2004['date'] = pd.to_datetime(mia_2004['date'])
mia_2009['date'] = pd.to_datetime(mia_2009['date'])
mia_2011['date'] = pd.to_datetime(mia_2011['date'])
mia_2012['date'] = pd.to_datetime(mia_2012['date'])

In [643]:
marlins_1 = pd.concat([marlins, mia_1998, mia_2004, mia_2009, mia_2011, mia_2012], sort=False)

In [644]:
marlins_1['team'] = 'MIA'

In [645]:
marlins_1.sort_values(by = 'date', inplace=True)

In [646]:
year_check(marlins_1)

([], Timestamp('1995-04-25 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [648]:
marlins_1.to_csv('../data/pre_clean_data/MIA/marlins_pc.csv', index=False)

### Atlanta

In [649]:
atlanta = pd.read_csv('../data/Scrape_2/braves/ATL_15.csv')
year_check(atlanta)

([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2009-10-04 00:00:00'))

In [651]:
atlanta_years = pd.read_csv('../data/patchwork/ATL/ATL_2010-2019.csv')
atlanta_2010_box = pd.read_csv('../data/patchwork/ATL/ATL_2010_boxscore.csv')
atlanta_2011_box = pd.read_csv('../data/patchwork/ATL/ATL_2011_boxscore.csv')
atlanta_2012_box = pd.read_csv('../data/patchwork/ATL/ATL_2012_boxscore.csv')
atlanta_2013_box = pd.read_csv('../data/patchwork/ATL/ATL_2013_boxscore.csv')
atlanta_2014_box = pd.read_csv('../data/patchwork/ATL/ATL_2014_boxscore.csv')
atlanta_2015_box = pd.read_csv('../data/patchwork/ATL/ATL_2015_boxscore.csv')
atlanta_2016_box = pd.read_csv('../data/patchwork/ATL/ATL_2016_boxscore.csv')
atlanta_2017_box = pd.read_csv('../data/patchwork/ATL/ATL_2017_boxscore.csv')
atlanta_2018_box = pd.read_csv('../data/patchwork/ATL/ATL_2018_boxscore.csv')
atlanta_2019_box = pd.read_csv('../data/patchwork/ATL/ATL_2019_boxscore.csv')

In [652]:
atlanta_years['date'] = pd.to_datetime(atlanta_years['date'])

In [656]:
atlanta_2010 = atlanta_years[atlanta_years['date'].dt.year == 2010].copy()
atlanta_2011 = atlanta_years[atlanta_years['date'].dt.year == 2011].copy()
atlanta_2012 = atlanta_years[atlanta_years['date'].dt.year == 2012].copy()
atlanta_2013 = atlanta_years[atlanta_years['date'].dt.year == 2013].copy()
atlanta_2014 = atlanta_years[atlanta_years['date'].dt.year == 2014].copy()
atlanta_2015 = atlanta_years[atlanta_years['date'].dt.year == 2015].copy()
atlanta_2016 = atlanta_years[atlanta_years['date'].dt.year == 2016].copy()
atlanta_2017 = atlanta_years[atlanta_years['date'].dt.year == 2017].copy()
atlanta_2018 = atlanta_years[atlanta_years['date'].dt.year == 2018].copy()
atlanta_2019 = atlanta_years[atlanta_years['date'].dt.year == 2019].copy()

In [657]:
single_year_merge(atlanta_2010, atlanta_2010_box)

give team name and year for file name:
atl
2010
saved!

In [658]:
single_year_merge(atlanta_2011, atlanta_2011_box)

give team name and year for file name:
atl
2011
saved!

In [659]:
single_year_merge(atlanta_2012, atlanta_2012_box)

give team name and year for file name:
atl
2012
saved!

In [660]:
single_year_merge(atlanta_2013, atlanta_2013_box)

give team name and year for file name:
atl
2013
saved!

In [661]:
single_year_merge(atlanta_2014, atlanta_2014_box)

give team name and year for file name:
atl
2014
saved!

In [662]:
single_year_merge(atlanta_2015, atlanta_2015_box)

give team name and year for file name:
atl
2015
saved!

In [663]:
single_year_merge(atlanta_2016, atlanta_2016_box)

give team name and year for file name:
atl
2016
saved!

In [664]:
single_year_merge(atlanta_2017, atlanta_2017_box)

give team name and year for file name:
atl
2017
saved!

In [665]:
single_year_merge(atlanta_2018, atlanta_2018_box)

give team name and year for file name:
atl
2018
saved!

In [666]:
single_year_merge(atlanta_2019, atlanta_2019_box)

give team name and year for file name:
atl
2019
saved!

In [667]:
atlanta.isna().sum()

game#                         0
day                           0
date                          0
team                          0
home_away                  1206
opp                           0
win_loss                      0
r                             0
ra                            0
innings                    2190
record                        0
divison_rank                  0
games_back                    0
winning_pitcher               1
losing_pitcher                1
game_duration                 1
day_night                     1
attendance                   19
streak                        1
bat_hits                      0
bat_rbi                       0
bat_walks                     0
bat_strike_outs               0
hou_plate_app                 0
bat_batting_avg               0
bat_obp                       0
bat_slg                       0
bat_ops                       0
pitch_opp_hits                0
pitch_walks                   0
pitch_strike_outs             0
pitch_opp_hr                  0
pitch_era                     0
pitch_batters_faced           0
pitch_total_pitches          34
pitch_combined_strikes       34
pitch_strikes_contacted      34
pitch_strikes_swinging       34
pitch_strikes_looking        34
pitch_wpa                     0
saving_pitcher             1250
dtype: int64

In [668]:
atl_2010 = pd.read_csv('../data/pre_clean_data/ATL/atl_2010.csv')
atl_2011 = pd.read_csv('../data/pre_clean_data/ATL/atl_2011.csv')
atl_2012 = pd.read_csv('../data/pre_clean_data/ATL/atl_2012.csv')
atl_2013 = pd.read_csv('../data/pre_clean_data/ATL/atl_2013.csv')
atl_2014 = pd.read_csv('../data/pre_clean_data/ATL/atl_2014.csv')
atl_2015 = pd.read_csv('../data/pre_clean_data/ATL/atl_2015.csv')
atl_2016 = pd.read_csv('../data/pre_clean_data/ATL/atl_2016.csv')
atl_2017 = pd.read_csv('../data/pre_clean_data/ATL/atl_2017.csv')
atl_2018 = pd.read_csv('../data/pre_clean_data/ATL/atl_2018.csv')
atl_2019 = pd.read_csv('../data/pre_clean_data/ATL/atl_2019.csv')

In [671]:
atl_2010['date'] = pd.to_datetime(atl_2010['date'])
atl_2011['date'] = pd.to_datetime(atl_2011['date'])
atl_2012['date'] = pd.to_datetime(atl_2012['date'])
atl_2013['date'] = pd.to_datetime(atl_2013['date'])
atl_2014['date'] = pd.to_datetime(atl_2014['date'])
atl_2015['date'] = pd.to_datetime(atl_2015['date'])
atl_2016['date'] = pd.to_datetime(atl_2016['date'])
atl_2017['date'] = pd.to_datetime(atl_2017['date'])
atl_2018['date'] = pd.to_datetime(atl_2018['date'])
atl_2019['date'] = pd.to_datetime(atl_2019['date'])

In [672]:
atlanta_1 = pd.concat([atlanta, atl_2010, atl_2011, atl_2012, atl_2013, atl_2014, atl_2015, atl_2016, atl_2017, atl_2018, atl_2019], sort=False)

In [676]:
atlanta_1.sort_values(by = 'date', inplace=True)

In [677]:
year_check(atlanta_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [678]:
atlanta_1.to_csv('../data/pre_clean_data/ATL/atlanta_pc.csv', index=False)

### St. Louis

In [679]:
cardinals = pd.read_csv('../data/Scrape_2/cardinals/STL_25.csv')
year_check(cardinals)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [681]:
cardinals.dtypes

game#                               int64
day                                object
date                       datetime64[ns]
team                               object
home_away                          object
opp                                object
win_loss                           object
r                                   int64
ra                                  int64
innings                           float64
record                             object
divison_rank                        int64
games_back                         object
winning_pitcher                    object
losing_pitcher                     object
game_duration                      object
day_night                          object
attendance                         object
streak                             object
bat_hits                            int64
bat_rbi                             int64
bat_walks                           int64
bat_strike_outs                     int64
hou_plate_app                       int64
bat_batting_avg                   float64
bat_obp                           float64
bat_slg                           float64
bat_ops                           float64
pitch_opp_hits                      int64
pitch_walks                         int64
pitch_strike_outs                   int64
pitch_opp_hr                        int64
pitch_era                         float64
pitch_batters_faced                 int64
pitch_total_pitches               float64
pitch_combined_strikes            float64
pitch_strikes_contacted           float64
pitch_strikes_swinging            float64
pitch_strikes_looking             float64
pitch_wpa                         float64
saving_pitcher                     object
dtype: object

In [682]:
cardinals.to_csv('../data/pre_clean_data/STL/cardinals_pc.csv', index=False)

### Brewers

In [683]:
brewers = pd.read_csv('../data/Scrape_2/brewers/MIL_25.csv')
year_check(brewers)

([1997, 1998, 1999],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [684]:
brewers_years = pd.read_csv('../data/patchwork/MIL/MIL_1997-1999.csv')
brewers_97_box = pd.read_csv('../data/patchwork/MIL/MIL_1997_boxscore.csv')
brewers_98_box = pd.read_csv('../data/patchwork/MIL/MIL_1998_boxscore.csv')
brewers_99_box = pd.read_csv('../data/patchwork/MIL/MIL_1999_boxscore.csv')

In [685]:
brewers_years['date'] = pd.to_datetime(brewers_years['date'])

In [689]:
brewers_97 = brewers_years[brewers_years['date'].dt.year == 1997].copy()
brewers_98 = brewers_years[brewers_years['date'].dt.year == 1998].copy()
brewers_99 = brewers_years[brewers_years['date'].dt.year == 1999].copy()

In [690]:
single_year_merge(brewers_97, brewers_97_box)

give team name and year for file name:
mil
1997
saved!

In [691]:
single_year_merge(brewers_98, brewers_98_box)

give team name and year for file name:
mil
1998
saved!

In [692]:
single_year_merge(brewers_99, brewers_99_box)

give team name and year for file name:
mil
1999
saved!

In [694]:
drop_years(brewers)

In [695]:
mil_97 = pd.read_csv('../data/pre_clean_data/MIL/mil_1997.csv')
mil_98 = pd.read_csv('../data/pre_clean_data/MIL/mil_1998.csv')
mil_99 = pd.read_csv('../data/pre_clean_data/MIL/mil_1999.csv')

In [696]:
mil_97['date'] = pd.to_datetime(mil_97['date'])
mil_98['date'] = pd.to_datetime(mil_98['date'])
mil_99['date'] = pd.to_datetime(mil_99['date'])

In [697]:
brewers_1 = pd.concat([brewers, mil_97, mil_98, mil_99], sort = False)

In [701]:
brewers_1.sort_values(by = 'date', inplace=True)

In [702]:
year_check(brewers_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [703]:
brewers_1.to_csv('../data/pre_clean_data/MIL/brewers_pc.csv', index=False)

### Cubs

In [704]:
cubs = pd.read_csv('../data/Scrape_2/cubs/CHC_25.csv')
year_check(cubs)

([2004, 2008, 2016],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2019-09-29 00:00:00'))

In [705]:
cubs_years = pd.read_csv('../data/patchwork/CHC/CHC_2004-2016.csv')
cubs_2004_box = pd.read_csv('../data/patchwork/CHC/CHC_2004_boxscore.csv')
cubs_2008_box = pd.read_csv('../data/patchwork/CHC/CHC_2008_boxscore.csv')
cubs_2016_box = pd.read_csv('../data/patchwork/CHC/CHC_2016_boxscore.csv')

In [706]:
cubs_years['date']= pd.to_datetime(cubs_years['date'])

In [710]:
cubs_2004 = cubs_years[cubs_years['date'].dt.year == 2004].copy()
cubs_2008 = cubs_years[cubs_years['date'].dt.year == 2008].copy()
cubs_2016 = cubs_years[cubs_years['date'].dt.year == 2016].copy()

In [711]:
single_year_merge(cubs_2004, cubs_2004_box)

give team name and year for file name:
chc
2004
saved!

In [712]:
single_year_merge(cubs_2008, cubs_2008_box)

give team name and year for file name:
chc
2008
saved!

In [713]:
single_year_merge(cubs_2016, cubs_2016_box)

give team name and year for file name:
chc
2016
saved!

In [715]:
drop_years(cubs)

In [718]:
chc_2004 = pd.read_csv('../data/pre_clean_data/CHC/chc_2004.csv')
chc_2008 = pd.read_csv('../data/pre_clean_data/CHC/chc_2008.csv')
chc_2016 = pd.read_csv('../data/pre_clean_data/CHC/chc_2016.csv')

In [719]:
chc_2004['date'] = pd.to_datetime(chc_2004['date'])
chc_2008['date'] = pd.to_datetime(chc_2008['date'])
chc_2016['date'] = pd.to_datetime(chc_2016['date'])

In [720]:
cubs_1 = pd.concat([cubs, chc_2004, chc_2008, chc_2016], sort = False)

In [723]:
cubs_1.sort_values(by = 'date', inplace=True)

In [724]:
year_check(cubs_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [725]:
cubs_1.to_csv('../data/pre_clean_data/CHC/cubs_pc.csv', index=False)

### Reds

In [726]:
reds = pd.read_csv('../data/Scrape_2/reds/CIN_20.csv')
year_check(reds)

([1996, 2015, 2016, 2017, 2018, 2019],
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2014-09-28 00:00:00'))

In [727]:
reds_years = pd.read_csv('../data/patchwork/CIN/CIN_1996-2019.csv')
reds_1996_box = pd.read_csv('../data/patchwork/CIN/CIN_1996_boxscore.csv')
reds_2015_box = pd.read_csv('../data/patchwork/CIN/CIN_2015_boxscore.csv')
reds_2016_box = pd.read_csv('../data/patchwork/CIN/CIN_2016_boxscore.csv')
reds_2017_box = pd.read_csv('../data/patchwork/CIN/CIN_2017_boxscore.csv')
reds_2018_box = pd.read_csv('../data/patchwork/CIN/CIN_2018_boxscore.csv')
reds_2019_box = pd.read_csv('../data/patchwork/CIN/CIN_2019_boxscore.csv')

In [728]:
reds_years['date'] = pd.to_datetime(reds_years['date'])

In [732]:
reds_1996 = reds_years[reds_years['date'].dt.year == 1996].copy()
reds_2015 = reds_years[reds_years['date'].dt.year == 2015].copy()
reds_2016 = reds_years[reds_years['date'].dt.year == 2016].copy()
reds_2017 = reds_years[reds_years['date'].dt.year == 2017].copy()
reds_2018 = reds_years[reds_years['date'].dt.year == 2018].copy()
reds_2019 = reds_years[reds_years['date'].dt.year == 2019].copy()

In [733]:
single_year_merge(reds_1996, reds_1996_box)

give team name and year for file name:
cin
1996
saved!

In [735]:
single_year_merge(reds_2015, reds_2015_box)

give team name and year for file name:
cin
2015
saved!

In [736]:
single_year_merge(reds_2016, reds_2016_box)

give team name and year for file name:
cin
2016
saved!

In [737]:
single_year_merge(reds_2017, reds_2017_box)

give team name and year for file name:
cin
2017
saved!

In [738]:
single_year_merge(reds_2018, reds_2018_box)

give team name and year for file name:
cin
2018
saved!

In [739]:
single_year_merge(reds_2019, reds_2019_box)

give team name and year for file name:
cin
2019
saved!

In [741]:
drop_years(reds)

In [742]:
# 1996, 2015, 2016, 2017, 2018, 2019
cin_1996 = pd.read_csv('../data/pre_clean_data/CIN/cin_1996.csv')
cin_2015 = pd.read_csv('../data/pre_clean_data/CIN/cin_2015.csv')
cin_2016 = pd.read_csv('../data/pre_clean_data/CIN/cin_2016.csv')
cin_2017 = pd.read_csv('../data/pre_clean_data/CIN/cin_2017.csv')
cin_2018 = pd.read_csv('../data/pre_clean_data/CIN/cin_2018.csv')
cin_2019 = pd.read_csv('../data/pre_clean_data/CIN/cin_2019.csv')

In [743]:
cin_1996['date'] = pd.to_datetime(cin_1996['date'])
cin_2015['date'] = pd.to_datetime(cin_2015['date'])
cin_2016['date'] = pd.to_datetime(cin_2016['date'])
cin_2017['date'] = pd.to_datetime(cin_2017['date'])
cin_2018['date'] = pd.to_datetime(cin_2018['date'])
cin_2019['date'] = pd.to_datetime(cin_2019['date'])

In [744]:
reds_1 = pd.concat([reds, cin_1996, cin_2015, cin_2016, cin_2017, cin_2018, cin_2019], sort = False)

In [747]:
reds_1.sort_values(by = 'date', inplace=True)

In [748]:
year_check(reds_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [749]:
reds_1.to_csv('../data/pre_clean_data/CIN/reds_pc.csv', index=False)

### Pirates

In [750]:
pirates = pd.read_csv('../data/Scrape_2/pirates/PIT_25.csv')
year_check(pirates)

([1996], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [752]:
pirates_1996 = pd.read_csv('../data/patchwork/PIT/PIT_1996-1996.csv')
pirates_1996_box = pd.read_csv('../data/patchwork/PIT/PIT_1996_boxscore.csv')

In [753]:
single_year_merge(pirates_1996, pirates_1996_box)

give team name and year for file name:
pit
1996
saved!

In [754]:
drop_years(pirates)

In [755]:
pit_96 = pd.read_csv('../data/pre_clean_data/PIT/pit_1996.csv')

In [756]:
pit_96['date'] = pd.to_datetime(pit_96['date'])

In [757]:
pirates_1 = pd.concat([pirates, pit_96], sort = False)

In [760]:
pirates_1.sort_values(by = 'date', inplace=True)

In [761]:
year_check(pirates_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [762]:
pirates_1.to_csv('../data/pre_clean_data/PIT/pirates_pc.csv', index=False)

### LA Angels

In [764]:
ana_angels = pd.read_csv('../data/Scrape_2/angels/ANA_final.csv')
la_angels = pd.read_csv('../data/Scrape_2/angels/LAA_final.csv')

In [766]:
ana_angels['date'] = pd.to_datetime(ana_angels['date'])
la_angels['date'] = pd.to_datetime(la_angels['date'])

In [767]:
angels = pd.concat([ana_angels, la_angels], sort=False)

In [770]:
angels.sort_values(by = 'date', inplace=True)

In [771]:
year_check(angels)

([1995, 1996, 1997, 1998, 2002, 2007, 2017, 2018, 2019],
 Timestamp('1999-04-06 00:00:00'),
 Timestamp('2016-10-02 00:00:00'))

In [772]:
ca_years = pd.read_csv('../data/patchwork/CAL/CAL_1995-1996.csv')
ca_95_box = pd.read_csv('../data/patchwork/CAL/CAL_1995_boxscore.csv')
ca_96_box = pd.read_csv('../data/patchwork/CAL/CAL_1996_boxscore.csv')

In [773]:
ca_years['date'] = pd.to_datetime(ca_years['date'])

In [778]:
ca_95 = ca_years[ca_years['date'].dt.year == 1995].copy()
ca_96 = ca_years[ca_years['date'].dt.year == 1996].copy()

In [779]:
single_year_merge(ca_95, ca_95_box)

give team name and year for file name:
laa
1995
saved!

In [780]:
single_year_merge(ca_96, ca_96_box)

give team name and year for file name:
laa
1996
saved!

In [781]:
ana_years = pd.read_csv('../data/patchwork/ANA/ANA_1997-2002.csv')
ana_97_box = pd.read_csv('../data/patchwork/ANA/ANA_1997_boxscore.csv')
ana_98_box = pd.read_csv('../data/patchwork/ANA/ANA_1998_boxscore.csv')
ana_2002_box = pd.read_csv('../data/patchwork/ANA/ANA_2002_boxscore.csv')

In [782]:
ana_years['date'] = pd.to_datetime(ana_years['date'])

In [786]:
ana_97 = ana_years[ana_years['date'].dt.year == 1997].copy()
ana_98 = ana_years[ana_years['date'].dt.year == 1998].copy()
ana_2002 = ana_years[ana_years['date'].dt.year == 2002].copy()

In [787]:
single_year_merge(ana_97, ana_97_box)

give team name and year for file name:
laa
1997
saved!

In [788]:
single_year_merge(ana_98, ana_98_box)

give team name and year for file name:
laa
1998
saved!

In [789]:
single_year_merge(ana_2002, ana_2002_box)

give team name and year for file name:
laa
2002
saved!

In [790]:
lana_2007 = pd.read_csv('../data/patchwork/LAA/LAA_2007-2007.csv')
lana_2007_box = pd.read_csv('../data/patchwork/LAA/LAA_2007_boxscore.csv')

In [791]:
single_year_merge(lana_2007, lana_2007_box)

give team name and year for file name:
laa
2007
saved!

In [792]:
laa_years = pd.read_csv('../data/patchwork/LAA/LAA_2017-2019.csv')
laa_2017_box = pd.read_csv('../data/patchwork/LAA/LAA_2017_boxscore.csv')
laa_2018_box = pd.read_csv('../data/patchwork/LAA/LAA_2018_boxscore.csv')
laa_2019_box = pd.read_csv('../data/patchwork/LAA/LAA_2019_boxscore.csv')

In [793]:
laa_years['date'] = pd.to_datetime(laa_years['date'])

In [797]:
laa_2017 = laa_years[laa_years['date'].dt.year == 2017].copy()
laa_2018 = laa_years[laa_years['date'].dt.year == 2018].copy()
laa_2019 = laa_years[laa_years['date'].dt.year == 2019].copy()

In [798]:
single_year_merge(laa_2017, laa_2017_box)

give team name and year for file name:
laa
2017
saved!

In [799]:
single_year_merge(laa_2018, laa_2018_box)

give team name and year for file name:
laa
2018
saved!

In [800]:
single_year_merge(laa_2019, laa_2019_box)

give team name and year for file name:
laa
2019
saved!

In [801]:
year_check(angels)

([1995, 1996, 1997, 1998, 2002, 2007, 2017, 2018, 2019],
 Timestamp('1999-04-06 00:00:00'),
 Timestamp('2016-10-02 00:00:00'))

In [802]:
drop_years(angels)

In [803]:
angels_1995 = pd.read_csv('../data/pre_clean_data/LAA/laa_1995.csv')
angels_1996 = pd.read_csv('../data/pre_clean_data/LAA/laa_1996.csv')
angels_1997 = pd.read_csv('../data/pre_clean_data/LAA/laa_1997.csv')
angels_1998 = pd.read_csv('../data/pre_clean_data/LAA/laa_1998.csv')
angels_2002 = pd.read_csv('../data/pre_clean_data/LAA/laa_2002.csv')
angels_2007 = pd.read_csv('../data/pre_clean_data/LAA/laa_2007.csv')
angels_2017 = pd.read_csv('../data/pre_clean_data/LAA/laa_2017.csv')
angels_2018 = pd.read_csv('../data/pre_clean_data/LAA/laa_2018.csv')
angels_2019 = pd.read_csv('../data/pre_clean_data/LAA/laa_2019.csv')

In [804]:
angels_1995['date'] = pd.to_datetime(angels_1995['date'])
angels_1996['date'] = pd.to_datetime(angels_1996['date'])
angels_1997['date'] = pd.to_datetime(angels_1997['date'])
angels_1998['date'] = pd.to_datetime(angels_1998['date'])
angels_2002['date'] = pd.to_datetime(angels_2002['date'])
angels_2007['date'] = pd.to_datetime(angels_2007['date'])
angels_2017['date'] = pd.to_datetime(angels_2017['date'])
angels_2018['date'] = pd.to_datetime(angels_2018['date'])
angels_2019['date'] = pd.to_datetime(angels_2019['date'])

In [805]:
angels_1 = pd.concat([angels, angels_1995, angels_1996, angels_1997, angels_1998, angels_2002, angels_2007, angels_2017, angels_2018, angels_2019], sort = False)

In [808]:
angels_1['team'] = 'LAA'

In [811]:
angels_1.sort_values(by = 'date', inplace=True)

In [812]:
year_check(angels_1)

([], Timestamp('1995-04-26 00:00:00'), Timestamp('2019-09-29 00:00:00'))

In [813]:
angels_1.to_csv('../data/pre_clean_data/LAA/angels_pc.csv', index=False)